{% extends "layout.html" %}
  
{% block title %}Contribution{% endblock %}

{% block page_content %}
<div>

    <h2>Document troubleshooting</h2>
    <hr>
    <p>Anyone who has done experiments knows that there will always be various problems during the experiment. However, these problems can generally be solved. Based on our own experimental experience and some data, we have compiled common problems and solutions in iGEM competition molecular cloning experiments. In this part, we mainly talk about the use and maintenance of the pipette, the centrifuge, and the clean bench. We hope it can help freshmen carry out experiments better and faster at the beginning, which will provide a useful resource for future iGEM teams. We believe this troubleshooting can be a helpful resource for future iGEM teams.</p>
    <h3>Pipette</h3>
    <p>The pipette is a precision instrument for quantitatively pipetting micro-volume liquids in the laboratory. It can measure 0.01μL-10mL of liquid at a time and can achieve precise liquid configuration or transfer. It is an essential tool for molecular cloning experiments. Proper use of pipettes is the most basic experimental skill for carrying out molecular biology experiments. </p>
    <h4>1.Conventional usage of pipettes</h4>
    <p>1.1 Set the pipetting volume. The normal adjustment method is to adjust from the large range to the small range. Just rotate the scale counterclockwise. When adjusting from the small range to the large range, you should first adjust it to exceed the set volume scale and then adjust it back to the set volume. This can ensure that the pipette is accurate.</p>
    <p>1.2 The scale of the pipette should be adjusted to the maximum after each experiment to allow the spring to return to its original shape to extend the service life of the pipette.</p>
    <p>1.3 Select a pipette with a suitable measuring range. Do not use a large-capacity pipette to transfer small volumes of liquid to avoid affecting accuracy. At the same time, if you need to transfer a larger amount of liquid outside the measuring range, please use a pasteur pipette.</p>
    <p>1.4 Assemble the pipette tip. Insert the pipette vertically into the tip, turn it half a turn left and right, and tighten it. It is very undesirable to hit the tip with the pipette. If you do this for a long time, the parts of the pipette will become loose due to the impact. In severe cases, the knob that adjusts the scale will get stuck.</p>
    <p>1.5 Draw and drain the liquid. When aspirating liquid vertically, the tip of the tip should be immersed 3 mm below the liquid surface. Before aspirating, the pipette tip should be pre-rinsed in the liquid; suck slowly and release slowly. If the amount is small, the tip of the tip should be against the inner wall of the container.</p>
    <p>1.6 The pipette filled with liquid should not be placed flat. The liquid in the tip of the pipette can easily contaminate the inside of the pipette and may cause the spring of the pipette to rust.</p>
    <p>1.7 When drawing liquid, be sure to release your thumb slowly and steadily, and never let it go suddenly, to prevent the solution from being sucked in too fast and rushing into the liquid dispenser to corrode the plunger and cause air leakage. Or use a tip with a cartridge.</p>
    <p>1.8 Liquids with high concentration and viscosity will produce errors. The compensation amount to eliminate the error can be determined by experiments.</p>
    <p>1.9 When setting the measuring range, please pay attention to rotating it to the required measuring range. The numbers are clearly in the display window. The set measuring range is within the pipette measuring range. Do not turn the button out of the measuring range, otherwise, the mechanical device will be jammed and damaged. </p>
    <p>1.10 After use, the pipette can be hung vertically in the pipette tip holder, but be careful not to drop it. Do not place the pipette horizontally or upside down when there is liquid in the pipette tip, as the liquid may flow back and corrode the piston spring.</p>
    <p style="text-align: center;">
      <img src="https://static.igem.wiki/teams/4824/wiki/contribution/contribution1.png" alt="" style="width: 400px;">
      <p style="text-align: center;"><strong>picture01</strong></p>
    </p>

    <p style="text-align: center;">
      <img src="https://static.igem.wiki/teams/4824/wiki/contribution/contribution2.png" alt="" style="width: 400px;">
      <p style="text-align: center;"><strong>picture02</strong></p>
    </p>
    <h4>2.Unexplainable failure and solutions</h4>
    <p><b>Question 1: </b>The pipette is leaking.</p>
    <p><b>Possible reasons:</b></p>
    <ul>
      <li>Unsuitable tips are used.</li>
      <li>The suction head is not installed correctly. </li>

      <li>The suction cone is worn out or contaminated. </li>
    </ul>
    <p><b>Solutions:</b></p>
    <ul>
      <li>Replace the original pipette tip with the one that came with the pipette. </li>
      <li>Install the tip in the correct method. </li>
      <li>Send the pipette to the company for testing and repair. </li>
    </ul>
    <p><b>Question 2: </b>There is always residue in the tips of the pipette.</p>
    <p><b>Possible reasons:</b></p>
    <ul>
      <li>Unsuitable tips are used.</li>
      <li>The tip is not fixed properly. </li>
    </ul>
    <p><b>Solutions:</b></p>
    <ul>
      <li>Replace the original pipette tip with the one that came with the pipette. </li>
      <li>Reinstall the tips. </li>
    </ul>
    <p><b>Question 3: </b>The action button is stuck or won't hold. </p>
    <p><b>Possible reasons:</b></p>
    <ul>
      <li>The liquid has passed through the tip cone and dries inside the pipette. </li>
      <li>Safety cone filter contamination. </li>
      <li>Insufficient lubricant. </li>
    </ul>
    <p><b>Solutions:</b></p>
    <ul>
      <li>Clean and oil the piston/seal and suction cone. </li>
      <li>Replace the safety cone filter. </li>
      <li>Apply lubricant accordingly. </li>
    </ul>
    <p><b>Question 4: </b>The tip cannot be ejected or cannot be fixed. </p>
    <p><b>Possible reasons:</b></p>
    <ul>
      <li>Tip cone and/or thrust ring contamination </li>
    </ul>
    <p><b>Solutions:</b></p>
    <ul>
      <li>Wipe clean with a soft cloth and mild detergent or 70% ethanol.  </li>
    </ul>
    <h3>Centrifuge</h3>
    <p>The centrifuge is the use of centrifugal force, separation of liquids and solid particles or liquids and liquids in the mixture of components of the machinery. Centrifuges are mainly used to separate solid particles from liquids in suspension, or to separate two liquids with different densities and immiscible in emulsion, and can also be used to exclude liquids from wet solids. </p>
    <h4>1.Conventional usage of pipettes</h4>
    <p>1.1 The centrifuge should always be in a horizontal position, the voltage of the external power supply system should be matched and a good grounding wire is required.</p>
    <p>1.2 The centrifuge in the pre-cooling state, the centrifuge cover must be closed, after centrifugation to dry the remaining water in the chamber, the centrifuge cover is open.</p>
    <p>1.3 In the centrifugation process, the operator shall not leave the centrifuge alone, once an abnormal situation occurs the operator can not turn off the power supply, to press STOP. Before the pre-cooling state, the centrifuge usage record should be filled out.</p>
    <p>1.4 Do not use shoddy centrifugal tube, do not use aging, deformation, or cracked centrifugal tubes. The quality of the centrifugal tube must be well-balanced and must be symmetrically placed in the casing to prevent vibration of the body.</p>
    <p>1.5 When starting the centrifuge, the top cover of the centrifuge should be covered before starting slowly. If the electric centrifuge has noise or body vibration, the power supply should be cut off immediately and troubleshooting should be done instantly.</p>
    <p>1.6 When centrifuging volatile or corrosive liquids, use a centrifuge tube with a cap and make sure the liquid does not leak out to avoid erosion of the chamber or causing accidents.</p>
    <p>1.7 Clean the machine chamber regularly.</p>
    <p>1.8 After separation, turn off the centrifuge first, and open the lid of the centrifuge only after the centrifuge stops rotating to take out the samples, and do not force it to stop moving with external force.</p>
    <p>1.9 When using the freezing centrifuge, in addition to paying attention to the above items, one should also pay attention to wiping the cavity of the action to be gentle, so as not to damage the temperature sensitivity of the cavity.</p>
    <p style="text-align: center;">
      <img src="https://static.igem.wiki/teams/4824/wiki/contribution/contribution3.png" alt="" style="width: 400px;">
      <p style="text-align: center;"><strong>picture03</strong></p>
    </p>
    <h3>Clean bench </h3>
    <p>Ultra-clean workbench (Clean Benches), in order to protect the experimental materials and design, through the fan will be the air into the pre-filter, through the static pressure box into the high-efficiency filter filtration, will be filtered air in the state of the vertical or horizontal airflow sent to the operating area to achieve the level of cleanliness of the hundred, to ensure that the production of the environmental cleanliness requirements. </p>
    <h4>1.Conventional usage of pipettes</h4>
    <p>1.1 Before use, wipe the working surface with 75% alcohol, put the required items in the middle of the table on both sides of the working area, and sterilize the pipette tips, test tubes, Petri dishes, etc. before use.</p>
    <p>1.2 After 75% alcohol wiping, turn on the UV lamp for 15-20 minutes and irradiate the working area to sterilize and kill bacteria and viruses. In order to avoid too many items and lead to UV sterilization is not complete, the countertop usually only need to put pipettes, 75% alcohol spray bottle, 75% alcohol cotton, inoculators, alcohol lamps, markers and lighters.</p>
    <p>1.3 Turn off the UV after starting the ventilator, 10min before use, in order to exclude ozone and other harmful gases on the body.</p>
    <p>1.4 Turn the light switch on during operation.</p>
    <p>1.5 Scrub hands and forearms with 75% alcohol cotton before operation. Any items entering the ultra-clean table must be wiped with 75% alcohol before entering the ultra-clean table.</p>
    <p>1.6 Do not store unnecessary items on the work surface to keep the clean airflow in the work area undisturbed. Pass the fire before opening various bottle caps to fix the dust, pass the fire on the mouths of opened bottles and test tubes, and tweezers and inoculators should be cauterized by fire before use to remove bacteria again.</p>
    <p>1.7 Do not record on the workbench surface, and try to avoid actions that significantly disturb the airflow while working.</p>
    <p>1.8 After the work is completed, the table surface must also be wiped with 75% alcohol, and the used instruments and materials to the location, clean up the garbage, stop the fan running, turn off the lights, and take away the personal belongings that do not belong to the ultra-clean table surface.</p>
    <p>1.9 Operators should strictly follow the above procedures, when using pipettes, use alcohol cotton to wipe the pipette head. Pipette tips should be wrapped in newspaper and sterilized before use and should be for personal use only.</p>
    <h3>Reference: </h3>
    <p>[1]GUIDE TO PIPETTING. (<a href="https://pipette.com/guide-to-pipetting.html">https://pipette.com/guide-to-pipetting.html</a>)</p>
    <p>[2]Simatos D, Jacobs IE, Dobryden I, et al. Effects of Processing-Induced Contamination on Organic Electronic Devices. Small Methods. 2023, e2300476. doi:10.1002/smtd.202300476.</p>
    <p>[3]Beroz J, Hart AJ. Universal handheld micropipette. Rev Sci Instrum. 2016, 87(11):115112. doi:10.1063/1.4966989.</p>
    <p>[4]Bond EW. Preparing Graduated Pipettes. Can J Comp Med Vet Sci. 1945, 9(6):166-167.</p>
    <p>[5]GREEN GF. A portable micro-centrifuge. J Clin Pathol. 1963, 16(1):90. doi:10.1136/jcp.16.1.90.</p>
    <p>[6]Beams HW, Kessel RG. Development of centrifuges and their use in the study of living cells. Int Rev Cytol. 1987, 100:15-48. doi: 10.1016/s0074-7696(08)61697-6. </p>
    <p>[7]Coté RJ. Aseptic technique for cell culture. Curr Protoc Cell Biol. 2001, Chapter 1. doi:10.1002/0471143030.cb0103s00.</p>

</div>

{% endblock %}
