{% extends "layout.html" %}
  
{% block title %}Project Description{% endblock %}

{% block page_content %}
<div>
  
<p>Lignans are a large group of chemical compounds occurring widely in the plant kingdom. According to the Encyclopedia
  of Food Sciences and Nutrition, lignans are phenolic dimers with a 2,3-dibenzyl butane structure that mainly occur in
  the glycosidic form. Some examples of lignans are pinoresinol, podophyllotoxin, and <a id="OLE_LINK6"></a>steganacin.
  As Simpson D. et al. stated, lignans are divided into several categories based on their molecular architecture.
  Categories of lignans include arylnaphthalene, aryltetralin, dibenzylbutane, dibenzylbutyrolactone, tetrahydrofuran,
  and furofuran. The interesting structure of lignans gives rise to many bioactive properties that can have high medical
  values.</p>
<p>In recent years, scientists have become increasingly interested in the health benefits of lignan due to its various
  bioactive properties. The focus of our research is on the antiviral effects of lignan. In the past, experiments were
  done on a lignan called NDGA, which proved it could fight the influenza virus by suppressing the replication of IAV
  and the induction of cytokines, trypsin, and MMP-9. There are many other uses of lignans, including decreasing the
  risk of cancer <a id="OLE_LINK8"></a>and inhibiting inflammation and oxidative injury. What’s more, our research
  focuses on the antiviral effects of lignan. Zhong Nanshan's group found that
  lariciresinol-4-O-<em>β</em>-D-glycopyranoside (L4G) could inhibit the inflammatory response induced by the influenza
  virus, and LDG lariciresinol-4,4<a id="OLE_LINK11"></a>'-<em>bis</em>-O-<em>β</em>-D-glycopyranoside had stronger
  antiviral activity than L4G, which inhibited the release of early viral ribonucleoproteins. Despite its countless
  health benefits, the use of lignans is strongly limited by the scarce number of grown plants, ineffective treatment
  methods, and low purity levels of the biosynthesized product.</p>
<p><a id="OLE_LINK3"></a>According to the previous study, lignan biosynthesis is initiated by the formation of
  pinoresinol, the central precursor of 8–8'-linked lignans, which is then catalyzed by a dirigent protein. After that,
  the diversity of lignans is increased by glycosylation modifications catalyzed by glycosyltransferases (UGTs). UGTs
  play key roles in the stability, water solubility, detoxification, and transportation of the plant’s secondary
  metabolites. However, only a few lignin-related UGTs have been characterized so far, especially the biosynthetic
  pathway of the antiviral active substance lignan <a id="OLE_LINK13"></a>glycosides in <em>I. indigotica</em> has not
  been fully characterized, which greatly limits the medicinal prospects of lignan glycosides as antiviral active
  substances. Based on the above research background, this project proposes to discover the UGTs involved in the
  synthesis of lignan glycosides in <em>I. indigotica</em> by constructing a phylogenetic tree and using synthetic
  biology to synthesize them heterologously and efficiently, which will be of great significance to improve the
  production of lignin glycosides.<a id="OLE_LINK7"></a></p>
<p style="text-align: center;">
  <img src="https://static.igem.wiki/teams/4824/wiki/description/figure1.png" alt="" style="width: 400px;">
  <p style="text-align: center;"><strong>Figure 1 Work flow of our project</strong></p>
</p>
<p>Our group is committed to developing a more efficient and stable method to produce lignan glycosyltransferase, a
  component involved in the biosynthesis of lignan glycosides, through synthetic biology for sustainable <em>in
    vitro</em> production. Lignans are a class of naturally occurring active components with antiviral activity and
  glycosylation modifications are important for the structure and bioactivity of lignans. UDP-dependent
  glycosyltransferases (UGTs) play a major catalytic role in the glycosylation of woad lignans. Therefore, by means of
  phylogenetic tree analysis, we found the gene sequence of lignan glycosyltransferase in <em>Isatis indigotica</em>,
  and UGT72B2 was identified as the lignan UGT in our study.</p>
<p>In the following experimental work, we will use the substrate catalytic specificity of UGT72B2 to identify it after
  gene cloning. Subsequently, the gene sequence of UGT72B2 is combined with the appropriate vector, and the vector is
  constructed by <em>Escherichia coli</em>.</p>
<p>The protein expression was induced by IPTG, and the protein expression was detected by SDS-PAGE. At the end of the
  experiment, we will conduct <em>in vitro</em> enzyme activity experiments by selecting appropriate substrates and
  conducting product detection.<a id="OLE_LINK15"></a></p>
<p>Works Cited</p>
<p>Bowles, Dianna J., et al. “GLYCOSYLTRANSFERASES OF LIPOPHILIC SMALL MOLECULES.” Annual Review of Plant Biology, vol.
  57, no. 1, Annual Reviews, May 2006, pp. 567–97. https://doi.org/10.1146/annurev.arplant.57.032905.105429.</p>
<p>Caballero, Benjamin, et al. “Encyclopedia of Food Sciences and Nutrition.” Academic eBooks, 2003,ci.nii.ac.jp/ncid/BA62151166.</p>
<p>Davin, L. B., Wang, H. B., Crowell, A. L., Bedgar, D. L., Martin, D. M., Sarkanen, S., et al. (1997). Stereoselective
  bimolecular phenoxy radical coupling by an auxiliary (dirigent) protein without an active center. Science 275,362–367. doi: 10.1126/science.275.5298.362</p>
<p>Martinez, Veronica, et al. “Cytoprotective Effects of Polyphenols Against Oxidative Damage.” Polyphenols in Human
  Health and Disease, 2014, <a
    href="https://doi.org/10.1016/b978-0-12-398456-2.00022-0">https://doi.org/10.1016/b978-0-12-398456-2.00022-0</a>.
</p>
<p>Rodríguez-García, Carmen, et al. “Naturally Lignan-Rich Foods: A Dietary Tool for Health Promotion?” Molecules, vol.
  24, no. 5, MDPI, Mar. 2019, p. 917. https://doi.org/10.3390/molecules24050917.</p>
<p>Simpson, David, and Samson Amos. “Other Plant Metabolites.” Elsevier eBooks, 2017, pp. 267–80.
  https://doi.org/10.1016/b978-0-12-802104-0.00012-3.</p>
<p>Umezawa, T., 2003. Diversity in lignan biosynthesis. Phytochem Rev. 2, 371–390. </p>
<p>https://doi.org/10.1023/B:PHYT.0000045487.02836.32.</p>
<p>Chen, C., Chen, H., Zhang, Y., Thomas, H.R., Frank, M.H., He, Y., Xia, R., 2020. TBtools: an integrative toolkit
  developed for interactive analyses of big biological data. Mol. Plant 13, 1194–1202.
  https://doi.org/10.1016/j.molp.2020.06.009</p>
<p>Irmisch, S., Jo, S., Roach, C.R., Jancsik, S., Man Saint Yuen, M., Madilao, L.L., O’NeilJohnson, M., Williams, R.,
  Withers, S.G., Bohlmann, J., 2018. Discovery of UDPGlycosyltransferases and BAHD-Acyltransferases Involved in the
  Biosynthesis of the </p>
<p>Antidiabetic Plant Metabolite Montbretin A. Plant Cell 30, 1864–1886. https://doi.org/10.1105/tpc.18.00406</p>
</div>

{% endblock %}
