{% extends "layout.html" %}
  
{% block title %}Education{% endblock %}
{% block lead %}Innovative educational tools and outreach activities have the ability to establish a two-way dialogue with new communities by discussing public values and the science behind synthetic biology.{% endblock %}

{% block page_content %}

<div>
  <h2>Introduction</h2>
    <p>In our education work, we hope to promote our project and the subject of synthetic biology. To achieve our goal, we worked hard on designing posters, brochures, informational videos, and educational games. We distributed our brochures and presented our videos, posters, and games in the 4 separate events to inform students, the public, and other IGEM teams about our work and the prospects of synthetic biology. In addition, we shared pictures and videos about our daily experiments on our social media accounts to maintain support for our project. </p>
    <tables tyle="text-align:center;vertical-align:middle;"><tr>
      <div class="container" style="text-align:center;vertical-align:middle;">
        <td><img src="https://static.igem.wiki/teams/4824/wiki/education/education1.png" alt="" style="width: 200px;"></td>
        <td><img src="https://static.igem.wiki/teams/4824/wiki/education/education2.png" alt="" style="width: 400px;"></td>
        <td><img src="https://static.igem.wiki/teams/4824/wiki/education/education3.png" alt="" style="width: 300px;"></td>
      </div>
    </tr></table>
    <br />
    <h2>Offline Team Conference</h2>
    <p style="text-indent: 2em;">On August 5, 2023, members of Bioplus-Shanghai participated in the "Approaching Synthetic Biology – 2023 IGEM Team Conference" in the Conference room of Zhejiang Science and Technology Museum. Several other teams from China participated in the conference, namely ZJU-China, ZJUT-China, OTIA-Hangzhou, and Bioplus-China. The teams presented and introduced their research projects and experimental processes to the members of other teams. They carried out extensive and in-depth academic exchanges on their respective biological projects.</p>
    <p style="text-indent: 2em;">In this activity, the team members Yuchen Zhang, Victor, Tian Yu, Ruojun Wen, and Siyang Qiao were the representatives and presenters of our team. Our content was mainly divided into five parts, which were experimental background, gene cloning, vector construction, protein expression, and the identification of products.</p>
    <p style="text-indent: 2em;">Through the content of these sections, we explained the experimental process we carried out during the summer vacation, such as the analysis of Polymerase Chain Reaction (PCR), Gel Electrophoresis, SDS-PAGE, and Western Blot. At the same time, we shared our experience with the audience by analyzing our successes and failures in the experimental process. We also presented our plans, the materials required for the follow-up experiment, and the principles underlying the reactions. In the Q&A session after our presentation, students from Zhejiang University asked about gene cloning, and we had an in-depth discussion on the technical details.</p>
    <p style="text-indent: 2em;">We gained valuable insights and understanding from this conference in terms of knowledge of what the other teams are doing and resources that can be used to help our follow-up work. For example, the students at Zhejiang University of Technology developed a wiki content editor based on LAN visualization, which we are considering using to edit our wiki. Another example is the OTIA-Hangzhou team, which created a lengthy bilingual booklet that elaborately explained their project and aspects of the IGEM competition and synthetic biology. We plan to learn from their booklet and enhance our own leaflet in the future. We can learn from their booklet and improve our own leaflet in the future.</p>
    <tables tyle="text-align:center;vertical-align:middle;"><tr>
      <div class="container" style="text-align:center;vertical-align:middle;">
        <td><img src="https://static.igem.wiki/teams/4824/wiki/education/education4.png" alt="" style="width: 400px;"></td>
        <td><img src="https://static.igem.wiki/teams/4824/wiki/education/education5.png" alt="" style="width: 400px;"></td>
      </div>
    </tr></table>
    <br />
    <h2>Volunteering</h2>
    <p style="text-indent: 2em;">On July 23, 2023, member of Bioplus-Shanghai, Ruojun Wen, participated in the educational activity in Shanghai Jiuqian Volunteer Service Club. The primary goal of this activity was to raise awareness of biology among the club's young members and to pique their interest in the subject. The main objective and experimental process of our project were conveyed to the kids in very straightforward and understandable language. Also, she popularized the knowledge of Isatis indigotica and its application in our real life.</p>
    <p style="text-indent: 2em;">At the beginning of the course, she taught the children some trivia about plants, explaining things like which flower is the biggest in the world and the reasons for its various hues. She concluded by asking the kids if they were familiar with the components of the most widely used medication during the pandemic, which brought up the plant we were using for our project: Isatis indigotica.</p>
    <tables tyle="text-align:center;vertical-align:middle;"><tr>
      <div class="container" style="text-align:center;vertical-align:middle;">
        <td><img src="https://static.igem.wiki/teams/4824/wiki/education/education6.png" alt="" style="width: 400px;"></td>
        <td><img src="https://static.igem.wiki/teams/4824/wiki/education/education7.png" alt="" style="width: 400px;"></td>
      </div>
    </tr></table>
    <br />
    <p style="text-indent: 2em;">She then instructed the kids to measure the drinks' acidity and alkalinity using the pH test paper she had provided. Children's curiosity might be sparked by seeing the test paper's color changes. Later, she discussed various bacteria with the kids and used diagrams to teach them the structure of bacteria. Escherichia coli and Staphylococcus aureus are introduced emphatically as the final two bacterium types. In order to further and deepen the kids' understanding and impression of the bacteria, she then instructed them to either make clay molds of the bacteria or draw them on paper.</p>
    <p style="text-indent: 2em;">Therefore, this educational activity effectively promoted our project and stimulated the children's passion for biology.</p>
    <h2>Online Sharing Session</h2>
    <p style="text-indent: 2em;">On July 14th, members from Bioplus-Shanghai held a collaborative session to showcase their upcoming projects for the IGEM 2023 competition. This event was unique as it saw the participation of eager middle school students who had enrolled in a summer camp. Alongside Bio plus Shanghai, other groups such as OTIA-Hangzhou and Bioplus-China also stepped forward to present their projects.</p>
    <p style="text-indent: 2em;">As the session commenced, each team delved into the intricacies of their respective projects. This was achieved by laying out the background of the research, discussing the current advancements in that domain, and meticulously detailing the methodology adopted. The presentations were well-structured and designed to engage the audience, drawing them into the world of synthetic biology.</p>
    <p style="text-indent: 2em;">However, the event wasn't solely limited to the projects. The teams took this opportunity to discuss their fundraising efforts and strategies for social media operations. The exchange of insights and experiences provided an enriched understanding of how different teams approach community engagement and resource mobilization.</p>
    <p style="text-indent: 2em;">Beyond the details of the IGEM competition and projects, there was an emphasis on introducing the middle school students to the vast and intriguing realm of synthetic biology. The aim was to give them a foundational understanding of the subject and the prestigious IGEM competition. To everyone's delight, the young minds in the audience responded with enthusiasm. They were inquisitive, actively engaging with the presenters by asking a slew of questions related to both synthetic biology and IGEM.</p>
    <p style="text-indent: 2em;">Following the event, some educators took the initiative to gather feedback from the middle school attendees. It was heartening to learn that a significant majority felt deeply inspired by the presentations. Many expressed a newfound motivation and a keen interest in joining the IGEM competition in the subsequent year. This event truly underscored the impact of sharing knowledge and how it can inspire the next generation of scientists and researchers.</p>
    <div class="container" style="text-align:center;vertical-align:middle;">
      <img src="https://static.igem.wiki/teams/4824/wiki/education/education8.png" alt="" style="width: 800px;">
    </div>
    <div class="container" style="text-align:center;vertical-align:middle;">
      <img src="https://static.igem.wiki/teams/4824/wiki/education/education9.png" alt="" style="width: 800px;">
    </div>
    <br />
    <h2> Hangzhou Low Carbon Museum Activities</h2>
    <p style="text-indent: 2em;">Members of Bioplus Shanghai—Victor Wang, Ruojun Wen, Tian Yu, and Yuchen Zhang—arrived at the Hangzhou Low Carbon Museum on August 6th, 2023, to carry out science popularization activities. We carried out various activities throughout the day, all of which were related to promoting our project and keeping the audience entertained. </p>
    <p style="text-indent: 2em;">We gave the cups of soil containing seeds of the plant Isatis Indigotica for free to the participants, encouraging the children to continue growing them and observing the characteristics of the plant as it matures. We also <strong>organized interactive games for children</strong>, such as requiring them to listen to animal sounds and look at pictures of animals to identify what animal it is, which would test their knowledge of different animals and stimulate children's interest in biology. If they answered a certain number of questions correctly, they would receive a prize accordingly. </p>
    <p style="text-indent: 2em;">In addition, we distributed leaflets about our project and small fans printed with our project introduction throughout the Science and Technology Museum so that most of the visitors would have a certain understanding of and interest in our project. During the distribution, we also encouraged museum visitors to participate in our survey, which aimed to gather public opinions and feedback regarding our project. </p>
    <div class="container" style="text-align:center;vertical-align:middle;">
      <img src="https://static.igem.wiki/teams/4824/wiki/education/education10.png" alt="" style="width: 400px;">
    </div>
    <tables tyle="text-align:center;vertical-align:middle;"><tr>
      <div class="container" style="text-align:center;vertical-align:middle;">
        <td><img src="https://static.igem.wiki/teams/4824/wiki/education/education11.png" alt="" style="width: 400px;"></td>
        <td><img src="https://static.igem.wiki/teams/4824/wiki/education/education12.png" alt="" style="width: 400px;"></td>
      </div>
    </tr></table>
    <br />
    <h2>Social Media Account</h2>
    <p style="text-indent: 2em;">Our social media presence spans across various platforms, including Red, Instagram, Weibo, and YouTube, where we consistently engage our audience with a diverse range of content. Our posts primarily revolve around sharing captivating vlogs showcasing our daily experiments, shedding light on the intricacies of our groundbreaking iGEM project, and delving into the fascinating world of synthetic biology. Our content has struck a chord with our followers, amassing an impressive viewership of over ten thousand views, underscoring the widespread interest in our scientific endeavors. Through these platforms, we foster an interactive and informative online community, fostering a deeper understanding of our work and promoting the field of synthetic biology to an ever-expanding global audience.</p>
    <tables tyle="text-align:center;vertical-align:middle;"><tr>
      <div class="container" style="text-align:center;vertical-align:middle;">
        <td><img src="https://static.igem.wiki/teams/4824/wiki/education/education13.png" alt="" style="width: 200px;"></td>
        <td><img src="https://static.igem.wiki/teams/4824/wiki/education/education14.png" alt="" style="width: 200px;"></td>
        <td><img src="https://static.igem.wiki/teams/4824/wiki/education/education15.png" alt="" style="width: 200px;"></td>
      </div>
    </tr></table>
    <br />
    <h2>Conclusion</h2>
    <p>Overall, we were able to share our knowledge on our project and synthetic biology with students, the public, and other IGEM teams through participating in the events mentioned above. In the future, our efforts may inspire participants in our events to develop an interest in synthetic biology and contribute to further research in this field.</p>

</div>


{% endblock %}
