{% extends "layout.html" %}
  
{% block title %}Engineering{% endblock %}

{% block page_content %}


<div>
  <p>Lignans are a class of naturally occurring active components with antiviral activity and glycosylation modifications are important for the structure and bioactivity of lignans. Lignan glycosyltransferase is a component involved in the biosynthesis of lignan glycosides, and our group is committed to developing a more efficient and stable synthetic biology method to produce this glycosyltransferase.</p>
  <hr>
  <h2>Design</h2>
  <p>Over the past three years, influenza viruses such as the new coronavirus have seriously affected people's lives, people have taken Chinese patent drugs such as Banlangen Granules, Qingkailing Granules, Lotus Clearance Capsules, etc., to fight against viral infections. And all of these Chinese patent drugs have a common ingredient in them, Banlangen. The root is the dried root of <em>I. indigotica</em>, which has the effect of clearing heat and removing toxins. It is commonly used clinically for the treatment of influenza, herpes simplex virus, and respiratory syncytial virus. Its active ingredients are mainly divided into three main categories: lignans, alkaloids, and polysaccharides. The group confirmed <em>in vitro</em> antiviral experiments in the early stage that lariciresinol and lariciresinol monoglycoside have significant activity. In addition, academician Zhong Nanshan's team proved through clinical trials that lignans in <em>I. indigotica</em>, represented by lariciresinol monoglycoside and bisglycoside (gibberellic acid B), have anti-influenza A and B virus activity, and pointed out that gibberellic acid B has a stronger pharmacological activity. It suggests that the glycosidic group is a necessary structure for antiviral activity and that different forms of glycosidization lead to variability in antiviral activity.</p>
  <p style="text-indent: 2em;">The aim of this study was to discover the enzyme that catalyzes the glycosylation of lignans in <em>I. indigotica</em>, to provide key bioparts for the heterologous and efficient synthesis of the active ingredient, and to achieve the targeted synthesis and accumulation of the target active ingredient, lignan glycosides. Enzymes are a class of catalytically active proteins, which are polypeptide chains with spatial structure, and the key to exerting catalytic function is the difference in spatial structure. The key to the catalytic function is the difference in spatial structure. Current research has found that the more similar the amino acid sequences are, especially the key amino acid sequences, the more similar the spatial structure of the proteins, and the more the catalytic function is the same. Based on this principle, we can obtain the UGT gene sequence from the whole genome data of <em>I. indigotica</em>, and compare the amino acid sequence similarity with the known enzyme gene/amino acid sequences, and then screen to get the candidate genes. The specific work is to construct the lignan glycoside biosynthesis pathway, and the whole experiment includes gene screening and cloning, then constructing the prokaryotic expression system, and protein induction to obtain the recombinant proteins. Then using the recombinant protease to verify the <em>in vitro</em> activity, completing the characterization of the enzyme by determining the enzyme activity mechanistic parameter, and finally designing it into the completed biopart.</p>
  <p style="text-align: center;">
    <img src="https://static.igem.wiki/teams/4824/wiki/engineering/engineering-figure1.png" alt="" style="width: 800px;">
    <p style="text-align: center;"><strong>Figure 1. </strong>Schematic diagram of synthetic biology</p>
  </p>
  <p style="text-indent: 2em;">Based on the reported transcriptomic data of <em>I. indigotica</em>, the sequences of genes with glycosyltransferase functions were screened and a phylogenetic tree analysis was conducted with the functionally characterized lignan UGTs, and UGT72B2 was selected as the candidate. We then constructed expression vectors using homologous recombination and ultimately verified protein function. </p>
  <p style="text-indent: 2em;">A phylogenetic tree analysis of the UGT sequences of <em>I. indigotica</em> was performed with well-characterized UGTs. UGT72B2 showed the highest homology to UGT71B5-1 (Figure 2), which has been shown to catalyze the glycosylation of lignan, and is therefore also hypothesized to catalyze the glycosylation of lignan.</p>
  <p style="text-align: center;">
    <img src="https://static.igem.wiki/teams/4824/wiki/engineering/engineering-figure2.png" alt="" style="width: 400px;">
    <p style="text-align: center;"><strong>Figure 2. </strong>A neighbor-joining phylogenetic tree of UGTs from <em>I. indigotica</em> and selected plants.</p>
  </p>
  <p style="text-indent: 2em;"><em>Xho I</em> and <em>Nco I</em> were chosen as the cleavage sites to design primers for the construction of UGT72B2-pET-32a+ prokaryotic expression vector (Figure 3). </p>
  <p style="text-align: center;">
    <img src="https://static.igem.wiki/teams/4824/wiki/engineering/engineering-figure3.png" alt="" style="width: 800px;">
    <p style="text-align: center;"><strong>Figure 3. </strong>UGT72B2-pET-32a+ prokaryotic expression vector.</p>
  </p>
  <h2>Results</h2>
  <h3>1. Identification and clone of <em>UGTs</em></h3>
  <p>PCR amplification was performed using the cDNA library of <em>I. indigotica</em> as the template, and the product was detected by 1% agarose gel electrophoresis, which showed a specific fragment at about 1500 bp, which was consistent with the expected result of the full length of the <em>UGT72B2</em> gene (Figure 4). Sequencing of the cloning result confirmed that it was identical to the full length of the sequence obtained from the database.</p>
  <p style="text-indent: 2em;">Information analysis of the sequence using the open reading frame (ORF) Finder (<a href="https://www.ncbi.nlm.nih.gov/orffinder">https://www.ncbi.nlm.nih.gov/orffinder</a>) online software revealed that the full length of the ORF sequence of the <em>UGT72B2</em> gene was 1455 bp, coding for 484 amino acids, with a relative molecular mass of 53,269.86, a relative molecular mass of 53269.86, a theoretical isoelectric point of 5.90, and a total average protein hydrophobicity of -0.074, making it an unstable protein. </p>
  <p style="text-align: center;"><strong>Table 1. </strong>Primers in construction of UGT72B2-pET-32a+ expression vector.</p>
    <p style="text-align: center;">
    <img src="https://static.igem.wiki/teams/4824/wiki/engineering/engineering-table1.png" alt="" style="width: 800px;">
  </p>
  <p style="text-align: center;">
    <img src="https://static.igem.wiki/teams/4824/wiki/engineering/engineering-figure4.png" alt="" style="width: 400px;">
    <p style="text-align: center;"><strong>Figure 4. </strong>PCR amplification of UGT72B2 gene from <em>I. indigotica</em>. M: marker, 1-4: UGT72B2 gene PCR amplification band.</p>
  </p>
  <h3>2. Expression and purification of UGT72B2</h3>
  <p>The recombinant expression vector was transformed into <em>E. coli</em> Rosetta (DE3) competent recipient cells after sequencing correctly and used as the subsequent protein expression. pET-32a+ vector was transformed into Rosetta (DE3) recipient cells by the same treatment as the negative control. </p>
  <p style="text-indent: 2em;">The recombinant protein expression was detected by SDS-PAGE after induction by IPTG. As shown in the Figure 4, the strain containing the recombinant plasmid UGT72B2-pET-32a+ (the relative molecular mass of the target protein of UGT72B2 is about 53 kDa) has a protein band near 70 kDa; whereas, the control strain with pET-32a+ empty vector has no protein expression at the same position and only expresses His-Tag tagged protein near 18 kDa, and the results indicate that UGT72B2 was successfully expressed in <em>E. coli</em> Rosetta (DE3). </p>
  <p style="text-indent: 2em;">Western blotting was further utilized to detect whether the resulting protein was the target protein. The results are shown in Figure 4. Compared with the empty vector control, UGT72B2-pET-32a+ expression signal was detected with a single band and good purity. </p>
  <p style="text-indent: 2em;">The His-tagged fusion proteins were purified by Ni-NTA affinity chromatography. The concentration of purified UGT72B2-pET-32a+ fusion protein was determined by BCA quasi-curve method, and finally the UGT72B2 recombinant protein at a mass concentration of 3.60 mg/mL was obtained to be used as the subsequent enzyme activity experiments.</p>
  <p style="text-align: center;">
    <img src="https://static.igem.wiki/teams/4824/wiki/engineering/engineering-figure5.png" alt="" style="width: 800px;">
    <p style="text-align: center;"><strong>Figure 5. </strong>Expression and purification of UGT72B2. (A)The correct clones were selected for culture. (B) Ultrasonic crushing of bacteria. (C) SDS-PAGE electrophoresis. (D) Proteins transferred from the gel onto a PVDF membrane for antibody staining and detection. (E) SDS-PAGE and western blot analysis of purified proteins. </p>
  </p>
  <h3>3. Substrate promiscuity of UGT72B2</h3>
  <p>(+)-Pinoresinol, (+)-lariciresinol, secoisolariciresinol, and matairesinol were selected as potential substrates for the catalytic analysis of UGT72B2. The reaction mixture was in a total volume of 50 μL containing phosphate buffer saline (pH 7.4), 2 mM UDP-glycoside, 200 μM substrates, and 10 μg of purified proteins. The mixture was preincubated at 30 °C for 10 min without proteins and then incubated for 12 h at 30 °C with a supplement of proteins. The enzyme activity products were characterized using UPLC-Q-TOF/MS.</p>
  <p style="text-align: center;">
    <img src="https://static.igem.wiki/teams/4824/wiki/engineering/engineering-figure6.png" alt="" style="width: 400px;">
    <p style="text-align: center;"><strong>Figure 6. </strong>UPLC-Q-TOF/MS for productions of UGT72B2 with lignans as substrates. 1: (+)-lariciresinol, 2: (+)-pinoresinol, 3: secoisolariciresinol, 4: matairesinol, 5 and 6: lariciresinol-4-O-<em>β</em>-D-glucopyranoside and lariciresinol-4'-O-<em>β</em>-D-glucopyranoside, 7: pinoresinol-4-O-<em>β</em>-glucopyranoside, 8: secoisolariciresinol-O-<em>β</em>-D-glucopyranoside and 9: matairesinol-O-<em>β</em>-D-glucopyranoside. </p>
  </p>
  <p style="text-align: center;"><strong>Table 2. </strong>Parameters in MS spectrum of compounds in Figure 5.</p>
    <p style="text-align: center;">
    <img src="https://static.igem.wiki/teams/4824/wiki/engineering/engineering-table2.png" alt="" style="width: 800px;">
  </p>
  <p style="text-indent: 2em;">According to previous studies, UGTs have a broad range of promiscuity towards the substrates of sugar acceptors. In our research, we found that with UDP-glycoside as the sugar donor, UGT72B2 could catalyze all tested substrates including (+)-pinoresinol, (+)-lariciresinol, secoisolariciresinol, and matairesinol. So UGT72B2 is a catalytic enzyme with relatively heterogeneous substrates. However, the catalyzed products were only monoglycosides, and the formation of diglycosides was not detected. Taken together, UGT2B2 catalyzes the monoglycosylation of lignans with substrate promiscuity. </p>
  <h3>4. Enzyme Kinetic Parameters of UGT72B2</h3>
  <p>Considering that lariciresinol has much more pharmaceutical properties than others, we focused on the kinetics of UGT72B2 with lariciresinol as the substrate. The reaction mixture was the same as mentioned above, but the reaction time was shortened to 20 minutes. The enzyme activity products were characterized using LC-MS/MS.</p>
  <p style="text-indent: 2em;">The kinetic parameters were analyzed through the Lineweaver-Burk plot. As a result, the catalytic efficiency of UGT72B2 for pinoresinol was as follow: <em>K</em>m 189 µM, <em>V</em>max 0.1079 µM/min, [E] 3.75 µM, <em>K</em>cat 0.028min<sup>-1</sup>. </p>
  <p style="text-align: center;">
    <img src="https://static.igem.wiki/teams/4824/wiki/engineering/engineering-figure7.png" alt="" style="width: 400px;">
    <p style="text-align: center;"><strong>Figure 7. </strong>The double reciprocal equations of substrate concentration [S] and the initial rate of enzyme catalysis [v]. </p>
  </p>
  <h3>5. Future work</h3>
  <p>We have completed the set goal of the laboratory in the summer, but whether this UGT we produced can be applied to the production of the factory still needs further experiments. Our next goal is to compare the conversion rates of UGT72B2 to other UGTs (UGT71B2, UGT71B5, UGT4) for glycosylation of different lignans, select the UGT with the highest conversion rate as the target UGT, and construct the heterologous synthesis from coniferyl alcohol to lariciresinol. Further characterization of new UGTs and finding more specific UGTs with better catalytic efficiency is also very necessary for this project.</p>
  <p style="text-align: center;">
    <img src="https://static.igem.wiki/teams/4824/wiki/engineering/engineering-figure8.png" alt="" style="width: 800px;">
    <p style="text-align: center;"><strong>Figure 8. </strong>Equipment for further experiments: bioreactor (pilot test) </p>
  </p>
  <h2>Conclusion</h2>
  <p>In this study, we cloned and obtained the <em>UGT72B2</em> gene, and for the first time, we comprehensively examined and validated the catalytic features of this gene. The constructed part provides a basis for realizing the heterologous and efficient synthesis of lignan or lignan-derivate glycoside components.</p>
    
</div>

{% endblock %}
