{% extends "layout.html" %}
  
{% block title %}Experiments{% endblock %}

{% block page_content %}

<h2>1 Extraction of the total RNA from Isatis Indigotica </h2>
<h3>1.1 Early-stage preparations</h3>
<p>(1)The mortar and glassware are wrapped in tin foil and baked at a high temperature of over 200 degrees Celsius for more than 2 hours, or at a lower temperature of 180 degrees Celsius for 4 hours.</p>
<p>(2) Brand-new plastic products such as pipet tips and centrifuge tubes are wrapped in newspaper and autoclaved at 121°C, sterilized for 40 minutes, and then dried in an oven; </p>
<p>(3) After all solutions were prepared, DEPC water was added to make the DEPC concentration 0.1%, and the solutions were autoclaved at 121 °C for 40 min.</p>
<h3>1.2 Experiment operation:</h3>
<p>a. Sample collection: Take fresh Isatis Indigotica root and immerse it into liquid nitrogen quickly to prevent RNA degradation. </p>
<p>b. RNA extraction: Sample lysis, extraction and stratification, column recovery, washing and centrifugation, and RNA elution(Experimental steps refer to TransZol Up Plus RNA Kit TransGen Biotech ER501).</p>
<h2>2 Detection of Isatis Indigotica total RNA </h2>
<p>Take 1μL of the total RNA sample, and test for the RNA concentration and purity using the NANO DROP 2000 instrument. The quality of the extracted RNA was judged by running a 1% agarose gel electrophoresis. </p>
<p style="text-align: center;">RNA concentration and purity testing: </p>
<p style="text-align: center;">Table 2.2.2.1  Isatis Indigotica root total RNA concentration and quality </p>
<p style="text-align: center;">
<img src="https://static.igem.wiki/teams/4824/wiki/experiment/experiment1.png" alt="" style="width: 800px;">
</p>
<p style="text-align: center;">d. Nucleic acid electrophoresis detection: 1% agarose gel at 250V for 8 minutes. </p>
<p style="text-align: center;">
  <img src="https://static.igem.wiki/teams/4824/wiki/experiment/experiment2.png" alt="" style="width: 400px;">
  <p style="text-align: center;">RNA Nucleic acid electrophoresis </p>
  <p style="text-align: center;">1 represents the RNA from sample 1, </p>
  <p style="text-align: center;">2 represents the RNA from sample 2 </p>
  </p>
<h2>3. Synthesis of the first strand of cDNA </h2>
<p>Use the TransScript® One-Step gDNA Removal and cDNA Synthesis SuperMix Kit of TransGen Biotech to perform cDNA reverse transcription. The specific operation steps are as follows: </p>
<p>Operating on ice, add the following reagents in sequence:</p>
<p style="text-align: center;">
  <img src="https://static.igem.wiki/teams/4824/wiki/experiment/experiment3.png" alt="" style="width: 400px;">
  </p>
<p>The total amount of RNA is X μL, and the amount of added RNA is about 500 ng according to the concentration. After mixing thoroughly, incubate at 42 degrees Celsius for 30 minutes, then at 85 degrees Celsius for five seconds. Measure the concentration after the reaction is complete and preserve at -20 degrees Celsius.</p>
<h2>4. UGT72B2 Gene cloning and sequence analysis </h2>
<h3>4.1 UGT72B2 Sequence analysis and full-length primer design</h3>
<p>(1) Determine the ORF region and corresponding amino acid sequence of the UGT72B2 gene through NCBI (<a href="https://www.ncbi.nlm.nih.gov/orffinder/">https://www.ncbi.nlm.nih.gov/orffinder/</a>)</p>
<p>(2) Use the primer design software Primer 5.0 (<a href="https://www.primer3plus.com/">https://www.primer3plus.com/</a>) to design full-length primers for the ORF region. The PCR system is as follows:</p>
<p style="text-align: center;">
  <img src="https://static.igem.wiki/teams/4824/wiki/experiment/experiment4.png" alt="" style="width: 400px;">
  </p>
<p style="text-align: center;">Table 3.4 PCR reaction procedures </p>
<p style="text-align: center;">
  <img src="https://static.igem.wiki/teams/4824/wiki/experiment/experiment5.png" alt="" style="width: 800px;">
  </p>
<h3>4.2 Agarose gel electrophoresis</h3>
<p>(1) Weigh 0.30 g of agarose, and measure 30 mL of 1*TAE electrophoresis buffer. Mix well and warm in a microwave oven until completely dissolved. After the solution is slightly cooled, add an appropriate amount of nucleic acid dye to make the 1% agarose gel solution.</p>
<p>(2) Select electrophoresis plates of different sizes according to the demand, install the electrophoresis comb, and pour the agarose solution into the electrophoresis plate. Let sit at room temperature until solidification, which takes about 30 minutes.</p>
<p>(3) After the agarose gel has completely solidified, remove the comb, and place the gel in the electrophoresis tank with the electrophoresis plate. Add 1*TAE electrophoresis buffer until it covers 1-2 mm above the surface of the agarose gel.</p>
<p>(4) Take the PCR products to be detected, and add DNA markers and samples to different spotting wells in sequence.</p>
<p>(5) Electrophoresis at 135 V for approximately 15-20 min, that is, when the bromophenol blue pigment moves to 2/3 of the gel. After the time is up, stop electrophoresis and take out the gel. Then, scan and take electrophoresis pictures under the gel imager, and determine the bands of relatively correct size based on known target gene bands.</p>
<h3>4.3 Recovery of target fragments</h3>
<p>According to the marker reference target gene range, cut out the target band, and use the EasyPure®Quick Gel Extraction Kit for gel recovery of PCR products. The specific steps are as follows:</p>
<p>(1) Cut out the target fragment in the gel imaging system and weigh the mass of the target fragment. Add 3 times the volume of the target fragment of GSB solution, and incubate at 55 degrees Celsius until the colloid is completely melted.</p>
<p>(2) When the solution temperature falls back to room temperature, transfer the solution to the spin column. Incubate for 2 minutes at room temperature, then centrifuge at 8,000 rpm for 1 minute. Discard the supernatant. </p>
<p>(3) Add 650 μl of WB, then centrifuge at 8,000 rpm for 1 minute. Discard the supernatant.</p>
<p>(4) Centrifuge the empty column at 8,000 rpm for 1-2 minutes to remove the residual WB. Place the spin column in a clean microcentrifuge tube, and let sit for 2 minutes to ensure that the ethanol evaporates completely.</p>
<p>(5) Add sterile, distilled water preheated to 65 degrees Celsius directly to the center of the colution matrix. Incubate the column at room temperature for 1 minute, then centrifuge at 10,000 rpm for 1 minute to elute the DNA. The purified DNA is ready for use or can be stored at -20 degrees Celsius.</p>
<h3>4.4 Ligation</h3>
<p>The cloning reaction system is as follows: </p>
<p style="text-align: center;">
  <img src="https://static.igem.wiki/teams/4824/wiki/experiment/experiment6.png" alt="" style="width: 400px;">
  </p>
<p>Gently mix and incubate the mixture at room temperature (20-37 degrees Celsius) for 10 minutes, and then place the tube on ice.</p>
<h3>4.5 Transformation of E. coli</h3>
<p>(1) Thaw Trans1-T1 competent cells on ice.</p>
<p>(2) Gently mix the thawed competent cells, then dispense 50 μL per tube into 1.5 mL centrifuge tubes pre-cooled on ice. Add all 5 μL of the ligation product and mix well</p>
<p>(3) Incubate on ice for 30 minutes, then heat-shock the cells at 42 degrees Celsius for 45 seconds. Immediately after, place the tube on ice for another 2 minutes.</p>
<p>(4) Add 500 μL of room temperature antibiotic-free LB medium. Shake the tube at 200 rpm at 37°C for 1 h, then centrifuge at 5000 rpm for 2 minutes. Discard 400 μL of the supernatant.</p>
<p>(5) On the ultra-clean workbench, spread the remaining bacterial solution on the LB petri dish containing ampicillin (70 μg mL-1). Blow the petri dish dry, seal it with a parafilm, and place it upside down in a 37 °C incubator for overnight culturing. </p>
<h3>4.6 Bacterial test</h3>
<p>Pick out a single clone with good growth conditions in an ultra-clean bench, culture it in 500 μL LB liquid medium containing ampicillin (70 μg·mL-1) in a 37 °C incubator at 200 rpm for about 4 h, and then perform a PCR bacterial test.</p>
<p>PCR bacterial test reaction system is as follows: </p>
<p style="text-align: center;">
  <img src="https://static.igem.wiki/teams/4824/wiki/experiment/experiment7.png" alt="" style="width: 800px;">
  </p>
<p style="text-align: center;">Table3.5 PCR bacterial test reaction system </p>
<p style="text-align: center;">
    <img src="https://static.igem.wiki/teams/4824/wiki/experiment/experiment8.png" alt="" style="width: 800px;">
    </p>
<p>After the reaction is over, perform 1% agarose gel electrophoresis on the PCR products of the bacterial test. Send the positive bacterial solution to a sequencing company for sequence comparison. Take part of the sequenced correct bacterial solution for subsequent experiments, then add an equal volume of 50% glycerol to the rest of the bacterial solution. After quick-freezing with nitrogen, store the bacterial solution at -80 degrees Celsius for future use.</p>
<h3>4.7 Plasmid extraction</h3>
<p>Use the E.Z.N.A.® Plasmid Mini Kit I kit from Omega Bio-Tek to extract the plasmids of positive clones. The specific operation steps are as follows:</p>
<p>(1) Centrifuge the expanded culture of bacterial solution at 10,000 rpm for 2 minutes, and discard the supernatant.</p>
<p>(2) Add 500 µL of Solution I, which contains RNAase A and is refrigerated at 4 degrees Celsius, then pipet up and down and shake with a vortex shaker to mix thoroughly. After mixing, transfer the suspension into a new 2 mL microcentrifuge tube. </p>
<p>(3) Add 500 µL of Solution II. Invert and gently rotate the tube several times to obtain a clear lysate. Incubate at room temperature for 2 minutes. </p>
<p>(4) Add 700 µL of Solution III. Immediately invert several times until a flocculent white precipitate forms.</p>
<p>(5) Centrifuge at 13000 rpm for 10 minutes. A compact white pellet will form.</p>
<p>(6) Transfer the cleared supernatant from the previous step by carefully aspirating it into a 2 mL collection tube containing a HiBind® DNA Mini Column. Centrifuge at 10000 rpm for 2 minutes, and discard the filtrate.</p>
<p>(7) Add 500 µL of HBC Buffer. Centrifuge at 13000 rpm for 2 minutes, and discard the filtrate.</p>
<p>(8) Add 700 µL of DNA Wash Buffer. Centrifuge at 13000 rpm for 2 minutes, and discard the filtrate.</p>
<p>(9) Repeat step 8 once.</p>
<p>(10) Centrifuge the empty HiBind® DNA Mini Column at 13000 rpm for 2 minutes to dry the column matrix.</p>
<p>(11) Transfer the HiBind® DNA Mini Column to a clean 1.5 mL microcentrifuge tube. Add 30 μL of Elution Buffer, which has been preheated in a 65 ℃ water bath or metal bath in advance, directly to the center of the column membrane. Let sit at room temperature for 1 minute.</p>
<p>(12)Centrifuge at 13000 rpm for 2 minutes to elude the plasmid, and store at -20 degrees Celsius.</p>
<h2>5. Bioinformatics analysis of UGT72B2 </h2>
<p>(1) Use Prot Param (<a href="http://web.expasy.org/compute\Pi/">http://web.expasy.org/compute\Pi/</a>) and <a href="https://web.expasy.org/protparam/">https://web.expasy.org/protparam/</a> website to analyze the basic physical and chemical properties of the sequence (including amino acid length, molecular weight, isoelectric point and hydrophobic/hydrophilic)</p>
<p>(2) Use NetSurfP-2.0 (<a href="https://services.healthtech.dtu.dk/service.php?NetSurfP-2.0">https://services.healthtech.dtu.dk/service.php?NetSurfP-2.0</a>) to predict the secondary structure of the protein.</p>
<p>(3) The tertiary structure of the protein was simulated using the online software SWISS-MODEL (<a href="https://swissmodel.expasy.org/interactive">https://swissmodel.expasy.org/interactive</a>).</p>
<h2>6. UGT72B2-pET-32a Prokaryotic expression vector construction </h2>
<h3>6.1 Acquisition of the pET-32a linear vector pET-32a </h3>
<p style="text-align: center;">
  <img src="https://static.igem.wiki/teams/4824/wiki/experiment/experiment9.png" alt="" style="width: 400px;">
  </p>
<h3>6.2 Obtaining the target gene fragment</h3>
<p>The target fragment and the digested vector were subjected to agarose gel electrophoresis, and after the target fragment was selected and recovered, the vector was constructed by homologous recombination.</p>
<h3>6.3 Ligation</h3>
<p></p>
<h3>6.4 Transformation of prokaryotic expression E. coli Transetta(DE3)</h3>
<p>(1) Take 50 μL of competent cell Transetta(DE3) melted on ice, add the ligation product and mix gently. Place in an ice bath for 30 minutes, heat shock in a water bath at 42 degrees Celsius for 45 seconds, and then quickly transfer the tube back to the ice bath for 2 minutes. </p>
<p>(2) Add 500 μL of sterilized LB medium to each centrifuge tube and mix well. Place it in a shaker at 37 °C, and incubate at 200 rpm for 1 h for it to recover. </p>
<p>(3) After the resuscitated product was enriched by bacteria, it was added to the LB petri dish containing 70 μg·mL-1Amp. The cells were evenly spread, and the petri dish was inverted and cultured overnight at 37 °C.</p>
<h3>6.5 Identification of Ligation Products</h3>
<h2>7. Expression and purification of UGT72B2 protein</h2>
<h3>7.1 Protein induction and expression</h3>
<p>(1) With the empty pET-32a-transetta (DE3) bacterial solution as a control, the UGT72B2-pET-32a-transetta (DE3) bacterial solution was added to 1.5 mL centrifuge tube containing 0.5 μL LB liquid medium containing 100 μg·mL-1Amp, respectively. In the tube, shake at 200 rpm in a constant temperature shaker at 37 °C until turbid.</p>
<p>(2) Take 1 mL of activated bacterial liquid, add 200 mL of LB liquid medium containing 100 μg·mL-1Amp, and cultivate at 37 degrees Celsius and 200 rpm until the OD600 of the solution is between 0.6 and 0.8.</p>
<p>(3) After the bacterial cells are cooled, add 0.1M of IPTG inducer.</p>
<p>(4) Continue shaking culture at 16 degrees Celsius and 80 rpm for 12 hours, and collect samples. Centrifuge the bacterial solution at 6000 rpm for 15 min, and discard the supernatant. Pipet up and down to resuspend the bacteria with 20 mL of 1*PBS. Centrifuge again at 6000 rpm for 15 min, and resuspend the bacteria with 20 mL of PBS. Then, place the centrifuge tube on ice, and use an ultrasonic breaker for protein breaking. The program of the ultrasonic cell breaker is set as ultrasonic for 2 s, stop for 5 s, ultrasonic power 30%, protection temperature 16 ℃, ultrasonic for 20 min. After ultrasonication is finished, centrifuge at 12000 rpm and 4 degrees Celsius for 20 min. Finally, separate the supernatant as the enzyme sample.</p>
<h3>7.2 SDS-PAGE Electrophoresis analysis</h3>
<p>SDS-PAGE The gel configuration required for electrophoresis is as follows:</p>
<p>(1) Clean the glass plate and electrophoresis tank used for electrophoresis with distilled water, then add distilled water after assembling the rubber plate to test whether there is liquid leakage. If there is no liquid leakage, prepare the lower layer of 10% separating gel. The specific formula is as follows:</p>
<p style="text-align: center;">
  <img src="https://static.igem.wiki/teams/4824/wiki/experiment/experiment10.png" alt="" style="width: 400px;">
  </p>
<p>(2) Quickly add the prepared separating gel solution into the assembled rubber plate, using ddH2O as a liquid seal, and let sit for 20-25 minutes. After the separating gel has solidified, pour out the sealing ddH2O to prepare the upper layer of the stacking gel. The specific preparation is as follows:</p>
<p style="text-align: center;">
  <img src="https://static.igem.wiki/teams/4824/wiki/experiment/experiment11.png" alt="" style="width: 400px;">
  </p>
<p>(3) Quickly add the prepared stacking gel solution to the gel plate, covering the separating gel, and insert the comb. When the entire gel is solidified, place it in a moist airtight bag for use.</p>
<p>(4) Take 48 μL of supernatant and precipitate respectively into new pre-cooled centrifuge tubes, add 12 μL of 5*Loading Buffer protein loading buffer, and boil at 100 °C for 7 minutes.</p>
<p>(5) Take out the prepared 10 % SDS-PAGE gel, take 18 μL of protein sample to load, and set the electrophoresis program to 80 V for 30 minutes. Wait until the sample is pressed into a straight line in the stacking gel on the upper layer and the markers are clearly separated, then adjust to 120 V for about 60 minutes until the dye is 1-2 cm from the bottom.</p>
<p>(6) Unload the gel plate, take out the colloid, and cut off the stacking gel on the top. Put the separating gel part into the Coomassie brilliant blue staining solution, and place it on a shaker at 30 rpm for 15 minutes. Then, put the colloid in clean water overnight for decolorization.</p>
<p>(7) On the next day, observe the decolorization of the gel, and stop the elution when a clear blue band appears. Place the decolorized separation gel in a chemiluminescent imager for protein gel image analysis.</p>
<h3>7.3 Western blot</h3>
<p>Western blot, also known as Western blotting, is a protein detection technology by transferring the protein sample separated by SDS-PAGE from the PAGE gel to a solid support membrane (nylon, PVDF, etc.), and using an antibody to specifically detect a protein bound to a specific antigen. Western blot is now widely used in protein expression verification. The specific operation steps are as follows:</p>
<p>(1) Preparation of transfer solution (preparation for current use): 3.9 g glycine, 6.8 g Tris, and add 800 mL of water to dissolve. Add 200 mL of methanol to mix before use and pre-cool in ice water.</p>
<p>(2) Membrane transfer: Take a piece of PVDF membrane with a pore size of 0.45 µm, cut it to a size similar to that of PAGE gel, cut corners to mark, and soak the membrane in the transfer working solution for 5 minutes to activate it</p>
<p>(3) In the transfer buffer, place the components in the transfer membrane clamp in the order of power supply negative electrode - sponge-filter paper - PAGE gel - PVDF membrane - filter paper - sponge - power supply positive electrode, and gently roll with a roller to remove air bubbles. Place the entire electrophoresis tank in an ice bath, and the membrane was transferred for 70 minutes at a constant current of 250 mA.</p>
<p>(4) Gently pick up the PVDF membrane with tweezers, and place it in 5% skimmed milk powder dissolved in TBST. Seal it at room temperature and 80 rpm for 2 h.</p>
<p>(5) Take 10 µL of His-Tag primary antibody and dilute it in 10 mL of 1*PBST solution. Soak the PVDF membrane in the working solution containing His-Tag primary antibody and let sit overnight at 4 degrees Celsius.</p>
<p>(6) Take 10 µL of HRP-labeled secondary antibody and dilute it 1000 times into 10 mL of 1* TBST solution. Soak the PVDF membrane in the working solution containing the secondary antibody, and shake at 80 rpm for 1 h at room temperature to combine the primary antibody and secondary antibody.</p>
<p>(7) Rinse the membrane 3 times with 1*TBST, and shake at 80 rpm for 10 minutes each time.</p>
<p>(8) Carefully hold the corners of the PVDF membrane with tweezers, and drain the TBST rinse solution, but do not allow the membrane to dry completely. Take 5 mL each of ECL detection agents A and B, mix well, and place in a dark environment. After fully contacting the PVDF membrane by soaking it, let sit for 30 seconds. Drop the prepared ECL working solution on the membrane to keep the surface of the PVDF membrane moist, and place the PVDF membrane in an integrated chemiluminescence imager for observation.</p>
<h3>7.4 Protein concentration detection</h3>
<p>The BCA protein quantification method is one of the current widely used protein quantification methods. It can measure protein concentration, and it is characterized by being fast, stable, and sensitive. The principle of the BCA protein quantification method is that the peptide chain structure in the protein molecule can react with Cu2+ to form a complex in an alkaline environment. At this time, Cu2+ is reduced to Cu+, and Cu+ binds to the BCA reagent to form a stable chromogenic complex. The depth of the chromogenic color is positively correlated with the protein concentration, and the light absorption value at A562 can be measured, and the protein content can be determined according to the absorption value.</p>
<p>(1) Preparation of standard: Take out the bovine serum albumin standard (BSA) in the kit, and dissolve it completely on ice. Take 120 μL of BSA, dilute it to 300 μL with 1*PBS buffer, and obtain a standard with a concentration of 2 mg/mL that is stored at -20 degrees Celsius.</p>
<p>(2) Preparation of chromogenic working solution (preparation for current use):</p>
<p>The number of BSA standard samples is 9, the number of samples to be tested is 1, and each sample is repeated three times. The total amount of chromogenic working solution = (9 BSA standard samples + 1 sample to be tested) × 3 repetitions × 200 μL (volume of working solution for each sample) = 6 mL, that is, a total of 6 mL of working solution is required. Prepare according to the ratio of Reagent A and Reagent B at 50:1, which is 5.88 mL of Reagent A and 0.12 mL of Reagent B, and mix thoroughly before use.</p>
<p>(3) Concentration determination</p>
<p>Add 0, 1, 2, 4, 6, 8, 10, 15, and 20 μL of the diluted standard to 1.5 mL centrifuge tubes, and add 1*PBS solution to make up to 20 μL, as shown in the table below.</p>
<p style="text-align: center;">
  <img src="https://static.igem.wiki/teams/4824/wiki/experiment/experiment12.png" alt="" style="width: 800px;">
  </p>
<p style="text-align: center;">Table BSA Determination of protein concentration system by BSA method </p>
<p>1. Add sample protein solution: Dilute 10-fold, 20-fold, and undiluted samples of the UGT72B2 protein concentrate solution, and add 20 µL of the sample protein solution to 1.5 µL centrifuge tubes.</p>
<p>2. Add 200 μL of chromogenic working solution to each centrifuge tube, vortex to mix well, and then centrifuge to ensure that the reaction system is evenly mixed without loss; incubate in a 37 degrees Celsius incubator for 30 min, and then cool to room temperature. </p>
<p>3. Add the samples to the ELISA plate, measure the A562 or the absorbance of other wavelengths between 540-590 nm of each sample and BSA standard with a microplate reader. Draw a standard curve according to the results after recording, and calculate the protein concentration in the sample.</p>
<p style="text-align: center;">
  <img src="https://static.igem.wiki/teams/4824/wiki/experiment/experiment13.png" alt="" style="width: 800px;">
  </p>
<p style="text-align: center;">
    <img src="https://static.igem.wiki/teams/4824/wiki/experiment/experiment14.png" alt="" style="width: 400px;">
    </p>

<h2>8. UGT72B2 catalytic function verification </h2>
<h3>8.1 Configure protein purification buffer</h3>
<p>Equilibration buffer: 300 mM KCl, 50 mM NaH2PO4, 10 mM imidazlole, 10 mM Tris base, pH 7.4</p>
<p>Elution buffer: 300 mM KCl, 50 mM NaH2PO4, 250 mM imidazlole, 10 mM Tris base, pH 7.4</p>
<p>The buffer solution above can be used after filtering through a 0.22 µm microporous membrane filter.</p>
<h3>8.2 Protein purification</h3>
<p>The following operations were carried out on ice or in a refrigerator at 4 °C;</p>
<p>Column loading: Take 1 mL of the resuspended Ni-NTA purification medium and add it to the affinity chromatography empty column tube. Let sit, open the cover at the bottom of the purification column, and let the liquid in the column flow out;</p>
<p>Column equilibration: Add 5 times the column volume of equilibration buffer to equilibrate the medium;</p>
<p>Sample loading: The crude enzyme solution is filtered through a 0.22 µm microporous membrane and added to the chromatography column. Let the solution slowly flow out;</p>
<p>Elution: First add 10 times the column volume of equilibration buffer and discard the effluent, then add 5 times the column volume of elution buffer for elution. Collect the eluate in sequence in multiple 1.5 mL EP tubes;</p>
<p>Detection: Take 20 µL of the eluate from each EP tube, add 5 µL of protein loading buffer, heat the protein in boiling water to denature it, and perform SDS-PAGE electrophoresis analysis after cooling. Electrophoresis program: stacking gel (60 V, 40 min), separating gel (110 V, 90 min);</p>
<p>Dyeing and decolorization: After washing the separating gel, cut it to a suitable size. Add 10 mL of Coomassie Brilliant Blue Rapid Staining Solution, shake at room temperature at 80 rpm, and stain for 20 min. When the color of the gel is completely consistent with the color of the staining solution, put the stained gel into clear water and shake at 80 rpm to decolorize. After the decolorization is complete, identify the target band according to the protein marker;</p>
<p>Concentration: Combine the eluate containing the target band and add it to a 50 kD ultrafiltration centrifuge tube. Centrifuge at 5,000 rpm for 30 min at 4°C, and discard the effluent</p>
<p>Washing: Add 15 mL of 1* PBS buffer to the ultrafiltration centrifuge tube. Centrifuge at 5,000 rpm for 30 min at 4°C to collect the liquid in the upper column to obtain the concentrated protein solution.</p>
<p>The protein concentration was determined by the BCA method.</p>
<h3>8.3 UGT72B2 Functional verification</h3>
<p>The broken protein induced by pET-32a empty-loaded Transetta (DE3) bacteria was used as a control. The sugar doner UDP-glucose, the sugar acceptors agaricin, pinoresinol, pogrosin, and secoisolaricin, and the unpurified crude protein UGT72B2 were used for the reaction. They reacted at the condition of 300 rpm for 12 hours at 30°C. Add 200 µL of ethyl acetate to quench the reaction, shake and centrifuge to take 100 µL of ethyl acetate and evaporate to dryness in a centrifugal concentrator. Add twice the volume of methanol to redissolve, shake to fully dissolve the sample, and centrifuge at 12,000 rpm for 30 min. Qualitative analysis was performed using UPLC-Q-TOF/MS.</p>
<p style="text-align: center;">In vitro enzymatic reaction system </p>
<p style="text-align: center;">
  <img src="https://static.igem.wiki/teams/4824/wiki/experiment/experiment15.png" alt="" style="width: 800px;">
  </p>

<h3>8.4 Kinetic assay of UGT72B2 enzyme activity</h3>
<p>The sugar doner UDP-glucose, the sugar acceptor agaricin, and 10 μg of the purified crude protein UGT72B2 were used for the reaction. They reacted at the condition of 300 rpm for 20 minutes at 30°C. Add 200 µL of ethyl acetate to quench the reaction, shake and centrifuge to take 100 µL of ethyl acetate and evaporate to dryness in a centrifugal concentrator. Add twice the volume of methanol to redissolve, shake to fully dissolve the sample; centrifuge at 12000 rpm for 30 min. Quantitative analysis was performed by LC-MS/MS.</p>
<p style="text-align: center;">In vitro enzymatic reaction system </p>
<p style="text-align: center;">
  <img src="https://static.igem.wiki/teams/4824/wiki/experiment/experiment16.png" alt="" style="width: 800px;">
  </p>





{% endblock %}