<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://static.igem.wiki/common/icons/favicons/igem-2022.svg"/>
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>

    <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'bootstrap.css', _external=True) }}">


  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->

  <!-- Bootstrap CSS -->
  <link href="{{ url_for('static', filename = 'bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'homestyle.css', _external=True) }}">

  <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet">

    <!-- responsive style -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'responsive.css', _external=True) }}">

 

  <title>{% block title %}{% endblock %} | Bioplus-shanghai - iGEM 2023</title>

</head>

<body>


   <!-- Navigation -->
   {% include 'menu.html' %}
   <style>
     body {
      background-image: linear-gradient(60deg, #fff1eb 0%, #ace0f9 100%);
     }
     #tbody:not(#content) {
       width:80%;
       padding:25px 40px;
       margin:0 auto !important;
       /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
     }
     #tbody img {
       margin:10px 0
     }
   </style>
  

  <div class="hero_area">
    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div class="container">
              <div class="row">
                <div class="col">
                  <div class="detail-box" style="text-align: center;">
                    <div>
                      <h2 style="color: black; line-height: 200px;">
                        welcome to
                      </h2>
                      <h1 style="color: black;">
                        Bio+ Shanghai
                      </h1>
                    </div>
                  </div>
                </div>
              </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>



  <!-- do section -->

  <section class="do_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Navigation
        </h2>
      </div>
      <div class="do_container">
      <a href="{{ url_for('pages', page='description') }}">
        <div class="box arrow-start arrow_bg">
          <div class="img-box">
            <img src="https://static.igem.wiki/teams/4824/wiki/home/d-1.png" alt="">
          </div>
          
          <div class="detail-box">
            <h6>
              Description
            </h6>
          </div>
        </div>
      </a>
      <a href="{{ url_for('pages', page='engineering') }}">
        <div class="box arrow-middle arrow_bg">
          <div class="img-box">
            <img src="https://static.igem.wiki/teams/4824/wiki/home/d-2.png" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Engineering
            </h6>
          </div>
        </div>
      </a>
      <a href="{{ url_for('pages', page='safety') }}">
        <div class="box arrow-middle arrow_bg">
          <div class="img-box">
            <img src="https://static.igem.wiki/teams/4824/wiki/home/d-3.png" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Safety
            </h6>
          </div>
        </div>
      </a>
      <a href="{{ url_for('pages', page='experiments') }}">
        <div class="box arrow-end arrow_bg">
          <div class="img-box">
            <img src="https://static.igem.wiki/teams/4824/wiki/home/d-4.png" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Experiments
            </h6>
          </div>
        </div>
      </a>
      <a href="{{ url_for('pages', page='member') }}">
        <div class="box ">
          <div class="img-box">
            <img src="https://static.igem.wiki/teams/4824/wiki/home/d-5.png" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Members
            </h6>
          </div>
        </div>
      </a>
      </div>
    </div>
  </section>

  <!-- end do section -->



  


  <!-- Footer: MUST mention license AND have a link to team wiki's repository on gitlab.igem.org -->
  {% include 'footer.html' %}

  <!-- Bootstrap Bundle with Popper -->
  <script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js') }}"></script>
</body>
</html>