{% extends "layout.html" %}
  
{% block title %}Human Practices{% endblock %}
{% block lead %}We ask every team to think deeply and creatively about whether their project is responsible and good for the world. Consider how the world affects your work and how your work affects the world.{% endblock %}

{% block page_content %}

<div>
  <h2>Background</h2>
  <p style="text-indent: 2em;">Amid the ongoing Coronavirus pandemic, people's health and lifestyles have been significantly affected. Despite the full release of epidemic control measures in early 2023, many individuals continue to be diagnosed with the virus, experiencing varying degrees of symptoms without access to effective treatment. </p>
  <p style="text-indent: 2em;">In response, we have embarked on a study of the enzyme UGT72B2, which plays a crucial role in the production of antiviral compounds known as lignan glycosides found in Isatis Indigotica, a common Chinese traditional herb used in medications such as the Lianhua Qingwen capsule. Lignan glycosides have demonstrated the ability to inhibit virus replication and effectively treat both influenza and Coronavirus infections. </p>
  <h2>Survey</h2>
  <h3><em>Purpose</em></h3>
  <p style="text-indent: 2em;">This survey aims to assess the public's experiences and perceptions regarding viral diseases like influenza and COVID-19. It covers aspects such as disease incidence, symptom severity, and coping strategies. Additionally, the survey seeks to gauge public sentiment regarding traditional Chinese medicine and our synthetic biology research project. Lastly, we aim to understand the public's interest in learning more about synthetic biology and their preferred medium for receiving information on this topic.</p>
  <h3><em>Analysis</em></h3>
  <p style="text-indent: 2em;">In the first question, “How long has it been since you last had the flu or COVID-19?”, almost 90% out of the 405 respondents claim to have had the flu or COVID-19 within one year. Although the WHO declared an end to COVID-19 as a global health emergency, it is still quite common in China. </p>
  <p style="text-align: center;">
    <img src="https://static.igem.wiki/teams/4824/wiki/hp/hp1a.png" alt="" style="width: 400px;">
    <img src="https://static.igem.wiki/teams/4824/wiki/hp/hp1b.png" alt="" style="width: 400px;">
    <p style="text-align: center;"><em><strong>Figure 1.1 </strong> Q: How long has it been since you last had the flu or COVID-19? [Single Choice] A: Within half a year 38.02%; Half a year to a year 49.88%; One year to three years 7.41%; More than three years 4.69%</em></p>
  </p>
  <p style="text-indent: 2em;">In addition, 80% of the respondents describe their degree of symptoms as moderate to serious, which shows that the flu and COVID-19 still have the prevalence and severity to pose a significant threat to public health. Common coping methods are self-medication (61%), resting without any medications (24%), and hospital consultation (13%). This suggests that a significant number of people rely on symptom-alleviation drugs and their immune systems to overcome these diseases. However, this will not work as well with high-age individuals who have deteriorating immune systems. </p>
  <p style="text-align: center;">
    <img src="https://static.igem.wiki/teams/4824/wiki/hp/hp2a.png" alt="" style="width: 400px;">
    <img src="https://static.igem.wiki/teams/4824/wiki/hp/hp2b.png" alt="" style="width: 400px;">
    <p style="text-align: center;"><em><strong>Figure 1.2 </strong> Q: How serious are your symptoms? [Single Choice] A: Very serious 5.68%; Serious 20%; Moderate 54.32%; Not serious 15.8%; No symptoms 4.2% </em></p>
  </p>
  <p style="text-align: center;">
    <img src="https://static.igem.wiki/teams/4824/wiki/hp/hp3a.png" alt="" style="width: 400px;">
    <img src="https://static.igem.wiki/teams/4824/wiki/hp/hp3b.png" alt="" style="width: 200px;">
    <p style="text-align: center;"><em><strong>Figure 1.3 </strong> Q: What is your preferred way of dealing with the flu or COVID-19? [Single Choice] Green: Self-medication 61.23%; Yellow: Resting without any medications 24.44%; Blue: Hospital consultation 13.33%; Orange: Other 0.99% </em></p>
  </p>
  <p style="text-indent: 2em;">Thus, approximately 80% of the respondents agree that it is necessary to continue to develop drugs that can effectively cure COVID-19, influenza, and other infectious diseases caused by viruses. </p>
  <p style="text-align: center;">
    <img src="https://static.igem.wiki/teams/4824/wiki/hp/hp4a.png" alt="" style="width: 400px;">
    <img src="https://static.igem.wiki/teams/4824/wiki/hp/hp4b.png" alt="" style="width: 200px;">
    <p style="text-align: center;"><em><strong>Figure 1.4 </strong> Q: Do you think there is a need to continue to develop drugs that can effectively treat infectious diseases caused by COVID-19, influenza, and other viruses? [Single Choice] Blue: Yes 79.75%; Yellow: Don't know/don<sup>’</sup>t care 11.11%; Green: No 9.14% </em></p>
  </p>
  <p style="text-indent: 2em;">Despite choosing Western medicine more often during self-medication and prescriptions from doctors, 87% of the respondents expressed belief in traditional Chinese medicine and hope that it can be recognized internationally. </p>
  <p style="text-align: center;">
    <img src="https://static.igem.wiki/teams/4824/wiki/hp/hp5a.png" alt="" style="width: 400px;">
    <img src="https://static.igem.wiki/teams/4824/wiki/hp/hp5b.png" alt="" style="width: 400px;">
    <p style="text-align: center;"><em><strong>Figure 1.5 </strong> Q: Do you believe in traditional Chinese medicine and want it to be recognized internationally? [Single Choice] A: Believe, hope to be recognized 86.91%; Don<sup>’</sup>t know/don<sup>’</sup>t care 10.37%; Don<sup>’</sup>t believe, don<sup>’</sup>t want recognition 2.72% </em></p>
  </p>
  <p style="text-indent: 2em;">The public<sup>’</sup>s choice on how to best increase international recognition was also what we were striving to do in our IGEM project, such as proving the scientific basis behind traditional Chinese medicine (53%) and increasing public awareness (31%). </p>
  <p style="text-align: center;">
    <img src="https://static.igem.wiki/teams/4824/wiki/hp/hp6a.png" alt="" style="width: 400px;">
    <img src="https://static.igem.wiki/teams/4824/wiki/hp/hp6b.png" alt="" style="width: 200px;">
    <p style="text-align: center;"><em><strong>Figure 1.6 </strong> Q: How do you think the international recognition of traditional Chinese medicine can be improved? [Single Choice] Green: Prove the scientific basis behind traditional Chinese medicine and publish the research results to reputable journals 52.84%; Blue: Increase public awareness 31.25%; Yellow: Combination of traditional Chinese and western medicine 1.14%; Light green: Other 0.57% </em></p>
  </p>
  <p style="text-indent: 2em;">After briefly introducing our project in the survey, about 90% of the respondents believed that our project was meaningful and would support our work. Those who were neutral in their views accounted for roughly 9% of the respondents, with approximately 1% holding other views.</p>
  <p style="text-align: center;">
    <img src="https://static.igem.wiki/teams/4824/wiki/hp/hp7a.png" alt="" style="width: 400px;">
    <img src="https://static.igem.wiki/teams/4824/wiki/hp/hp7b.png" alt="" style="width: 200px;">
    <p style="text-align: center;"><em><strong>Figure 1.7 </strong> Q: Do you think our project is valuable and do you support our work? [Single Choice] Blue: Valuable, support 90.12%; Yellow: I don<sup>’</sup>t know/It doesn<sup>’</sup>t matter 8.89%; Green: Not valuable, do not support 0.99% </em></p>
  </p>
  <p style="text-indent: 2em;">Although only about half of the respondents had heard about synthetic biology, about 73% of them hoped to learn more about this subject. The data shows that most of the public is looking forward to the future development of synthetic biology and is eager to discover more in this field. </p>
  <p style="text-align: center;">
    <img src="https://static.igem.wiki/teams/4824/wiki/hp/hp8a.png" alt="" style="width: 400px;">
    <img src="https://static.igem.wiki/teams/4824/wiki/hp/hp8b.png" alt="" style="width: 200px;">
    <p style="text-align: center;"><em><strong>Figure 1.8 </strong> Q: Have you ever heard of synthetic biology? [Single Choice] Blue: Yes 52.1%; Green: No 47.9% </em></p>
  </p>
  <p style="text-align: center;">
    <img src="https://static.igem.wiki/teams/4824/wiki/hp/hp9a.png" alt="" style="width: 400px;">
    <img src="https://static.igem.wiki/teams/4824/wiki/hp/hp9b.png" alt="" style="width: 400px;">
    <p style="text-align: center;"><em><strong>Figure 1.9 </strong> Q: Would you like to learn more about synthetic biology? [Single Choice] A: I would like to 72.84%; It doesn’t matter 23.7%; I would not like to 3.46%  </em></p>
  </p>
  <p style="text-indent: 2em;">Of those who hoped to learn more, the top three mediums they wanted to learn from were watching scientific videos (72%), viewing WeChat official account tweets (55%), and reading relevant science research articles (33%). When choosing how to educate the public about synthetic biology, we can choose a more targeted medium that is more appealing to them. </p>
  <p style="text-align: center;">
    <img src="https://static.igem.wiki/teams/4824/wiki/hp/hp10a.png" alt="" style="width: 400px;">
    <img src="https://static.igem.wiki/teams/4824/wiki/hp/hp10b.png" alt="" style="width: 300px;">
    <p style="text-align: center;"><em><strong>Figure 1.10 </strong> Q: How would you like to learn more? [Multiple Choice] Green: Watch scientific videos 72.2%; Yellow: View WeChat official account tweets 55.25%; Orange: Read relevant science research articles 33.22%; Light green: Participate in scientific activities 31.53%; Gray: Receive scientific pamphlets 25.42%; Blue: Read leaflets and posters 20.68% </em></p>
  </p>
  <h3><em>Summary</em></h3>
  <p style="text-indent: 2em;">Overall, viral diseases like influenza and COVID-19 continue to have a significant impact on the public, highlighting the need for effective treatments. </p>
  <p style="text-indent: 2em;">The survey results align with our previous outreach efforts and help us choose the right medium for future public education initiatives. </p>
  <p style="text-indent: 2em;">Notably, 90% of respondents expressed a desire to globalize traditional Chinese medicine and showed support for our project, reinforcing its significance to the public.</p>
  <h2>Interview</h2>
  <h3><em>Interview with Professor Xiao</em></h3>
  <p style="text-indent: 2em;">Members of the Bioplus-Shanghai team, Victor Wang and Ruojun Wen, went to the Shanghai University of Traditional Chinese Medicine on July 27th, 2023, to interview an expert named Ying Xiao about our research topic. Ying Xiao is a Ph.D. supervisor at the university and has done extensive research and published many papers on Isatis Indigotica and its lignans. </p>
  <p style="text-indent: 2em;">When we arrived, Professor Xiao greeted us and led us to the Chinese herbal medicine raw materials exhibition, which contained hundreds of dried herbs of different shapes and sizes. Next, we visited the herbal cultivation center, where plants used for further experiments are grown. It was a memorable experience where we learned extensively about the names of the herbs and the methods for their cultivation and harvesting.</p>
  <p style="text-indent: 2em;">After the astonishing visit, we went to Professor Xiao<sup>’</sup>s office and started our interview. Victor<sup>’</sup>s role was question-asking, and his companion, Ruojun Wen, was responsible for photography and note-taking. We asked questions such as why Professor Xiao chose to study traditional Chinese medicine, her opinions on the future of synthetic biology, and how we can explore further in our project. </p>
  <p style="text-indent: 2em;">Professor Xiao<sup>’</sup>s answer to our question about how we can advance further in our project gave us much inspiration. She believes that our project is valuable, but there are also many ways to improve it given that we have more time for experimentation. She claims that if UGT72B2 shows high efficiency and specificity in the enzyme activity assays, we can research why it works so well and discover what advantages it has compared to the original enzyme. If the efficiency and specificity are not as good as those of UGT71B5, protein engineering can be considered to modify the amino acid sites. The specific method involves protein engineering, which adjusts the spatial structure of the transferase by changing the amino acid sequence to enhance its catalytic effect and specificity. Another suggestion for delving deeper into this topic is to do some downstream work, such as protein engineering and the synthesis of rarer and more valuable downstream small molecule compounds. We can also continue to study and achieve the complete synthesis pathway of lignan glycosides in vitro so that E. coli can continuously produce the compounds we need.</p>
  <p style="text-align: center;">
    <img src="https://static.igem.wiki/teams/4824/wiki/hp/hp11.png" alt="" style="width: 400px;">
    <img src="https://static.igem.wiki/teams/4824/wiki/hp/hp12.png" alt="" style="width: 400px;">
  </p>
  <p style="text-align: center;">
    <img src="https://static.igem.wiki/teams/4824/wiki/hp/hp13.png" alt="" style="width: 400px;">
    <img src="https://static.igem.wiki/teams/4824/wiki/hp/hp14.png" alt="" style="width: 400px;">
  </p>
  <h3><em>Interview with Professor Xu</em></h3>
  <p style="text-indent: 2em;">On July 26th, 2023, Victor Wang and Chenxi Li, members of the Bioplus-Shanghai team, arrived at Shanghai Ninth People's Hospital to interview Dr. Xu Jie about our project. Doctor Xu is the head of the infectious disease department and specializes in the diagnosis and treatment of various infectious diseases. </p>
  <p style="text-indent: 2em;">After meeting up with Chenxi Li, we were led by a head nurse to the infectious disease building and entered a conference room for our interview. During the interview, we inquired about the necessity of continuing research on specialized drugs for COVID-19, sought Dr. Xu's opinions on our research project, and delved into topics of personal interest, such as the reasons behind the coronavirus's significant impact.</p>
  <p style="text-align: center;">
    <img src="https://static.igem.wiki/teams/4824/wiki/hp/hp15.png" alt="" style="width: 800px;">
  </p>
  <p style="text-indent: 2em;">Dr. Xu's responses not only affirmed our project but also enriched our understanding of infectious diseases. She also offered valuable suggestions to enhance our performance in the final conference. She believed that it is still important to conduct research on antiviral drugs to cure COVID-19 and other types of coronaviruses because even though the pandemic is over, those infectious diseases still exist. Successful development of specialized drugs to treat coronaviruses could aid in future outbreak responses. She claims that our research project is very promising, but we should have a deeper understanding of how lignan glycosides inhibit viral replication and the mechanism by which UGTs catalyze the reaction. We should also take into consideration the long process of drug development when deciding on further steps. In addition, we learned more about why infectious diseases like COVID-19 are more common and more impactful. She explained that factors such as rainforest overexploitation, global connectivity, and high population density have accelerated the spread and mutation of infectious diseases. In addition, inadequate medical resources during the outbreak caused patients to wait a long time for medical treatment, which increased their psychological pressure.</p>
  <p style="text-indent: 2em;">After the interview, the head nurse took us on a tour of the laboratories of the infectious disease department, where we took photos and gaped at the novel pieces of equipment. Before we departed, the head nurse took a photograph of us and Dr. Xu in front of the hospital's emblem. Overall, we had a great time and took away much from this interview. </p>
  <h2>Conclusion:</h2>
  <p>After reviewing the survey results and conducting interviews with Professors Xiao and Xu, we are confident that our project is meaningful and enjoys support from both the public and experts.</p>


</div>

{% endblock %}
