<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://static.igem.wiki/common/icons/favicons/igem-2022.svg"/>
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>

    <link rel="stylesheet" href="{{ url_for('static', filename = 'fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'templatemo-woox-travel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'owl.css') }}">
    <link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    


  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename = 'homestyle.css') }}" rel="stylesheet" >
  <!-- responsive style -->
  <link href="{{ url_for('static', filename = 'responsive.css') }}" rel="stylesheet" >

  <!-- Bootstrap CSS -->
  <link href="{{ url_for('static', filename = 'bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet">

  <title>{% block title %}{% endblock %} | Bioplus-shanghai - iGEM 2023</title>

</head>

<body>


   <!-- Navigation -->
   {% include 'menu.html' %}
   <style>
     body {
      background-image: linear-gradient(60deg, #fff1eb 0%, #ace0f9 100%);
     }
     #tbody:not(#content) {
       width:80%;
       padding:25px 40px;
       margin:0 auto !important;
       /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
     }
     #tbody img {
       margin:10px 0
     }
   </style>
  

  <div class="weekly-offers">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading text-center">
            <h2>Bioplus-shanghai - iGEM 2023 members</h2>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-weekly-offers owl-carousel">
            <div class="item">
              <div class="thumb">
                  <img src="https://static.igem.wiki/teams/4824/wiki/member/victor1.png" alt="" style="text-align: center; left: 50px;">
                <div class="text">
                  <h4><i class="fa fa-user"></i> Ruojun<br></h4>
                  <h6>Wen<br></h6>
                  <div class="line-dec"></div>
                  <ul>
                    <li><i class="fa fa-vcard"></i> Personal statement:</li>
                    <div style="height:300px; overflow-y:auto">
                      <p>Hello, I'm Victor, and I'm currently a sophomore at Western Reserve Academy.
                        Some of my hobbies include playing tennis, skiing, and reading. Recently, I finished reading the book 'Outliers', which provided me with many insights into the uncontrollable factors necessary for success. This book made me appreciate my family for the opportunities and education they've provided, and it inspired me to make consistent efforts toward my future profession.
                        I have been interested in the medical sciences, influenced by my family members who work in the medical field and driven by my enthusiasm for biology and health sciences. Currently, I'm engaged in a research project about pancreatic cancer with a teacher from my school, using bioinformatics as our main approach to analyze biological data. In the future, I plan to dedicate myself to rigorous studies in the medical field, aspiring to become a qualified dentist or ophthalmologist.
                        I am the team leader for team Bio+ Shanghai, overseeing the overall project, coordinating team activities, delegating tasks to team members, and tracking project progress. In the wet lab team, I worked in the laboratory to carry out the hands-on biology experiments daily, while drafting experimental protocols and completing presentation slides about our experiment process and so on. Additionally, I contributed to the dry team by conducting interviews with professors, carrying out public surveys, and creating fundraising materials as well as helping the team in other activities. Overall, the IGEM team was a rewarding experience for me. I am satisfied that I did my best for my team as a leader and sincerely hope that our research results will be helpful to the public.  </p>
                    </div>
                    <li>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                  <img src="https://static.igem.wiki/teams/4824/wiki/member/member1.png" alt="" style="text-align: center; left: 50px;">
                <div class="text">
                  <h4><i class="fa fa-user"></i> Tim<br></h4>
                  <h6>Yu<br></h6>
                  <div class="line-dec"></div>
                  <ul>
                    <li><i class="fa fa-vcard"></i> Personal statement:</li>
                    <div style="height:300px;overflow-y:auto">
                      <p> I am a 16-year-old high school student living in Shanghai. I joined IGEM due to the fact that I am interested in the topic of synthetic biology, unlike genetic engineering, synthetic biology is more based on the design and construction of new biological parts. In addition to this, I also had an interest in the pharmaceutical field, which is similar to our team’s topic this year. In my own leisure time, I would like to go and play multiple sports. Golf and football are my favorites, I also played piano since I was 7. In school, chemistry and Biology are my favorite subjects, which decided my interest in medicine and synthetic biology.</p>
                    </div>
                    <li>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="https://static.igem.wiki/teams/4824/wiki/member/member2.png" alt="" style="text-align: center; left: 50px;">
                <div class="text">
                  <h4><i class="fa fa-user"></i> Yuchen<br></h4>
                  <h6>Zhang<br></h6>
                  <div class="line-dec"></div>
                  <ul>
                    <li><i class="fa fa-vcard"></i> Personal statement:</li>
                    <div style="height:300px;overflow-y:auto">
                    <p>My name is Ariel. I am 14 years old and I study in School Beijing Lu He International Academy. I like swimming, drawing and skating in my spare time, which can make me feel relaxed. I am very interested in biology and hope to have deep learning and employment in this field in the future. To participate in this competition is also to enrich my vision and increase my understanding of professional knowledge.</p>
                    </div>
                    <li>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="https://static.igem.wiki/teams/4824/wiki/member/member3.png" alt="" style="text-align: center; left: 50px;">
                <div class="text">
                  <h4><i class="fa fa-user"></i> Yanni<br></h4>
                  <h6>Fu<br></h6>
                  <div class="line-dec"></div>
                  <ul>
                    <li><i class="fa fa-vcard"></i> Personal statement:</li>
                    <div style="height:300px;overflow-y:auto">
                    <p>Hi, I’m Jennifer. I’m a year 10 student from WLSA Shanghai Academy. My MBTI is INTJ. I love trying new things and go travelling. I am interested in environmental science because it is very inspiring for me to observing and interacting with the natural environment. </p>
                    </div>
                    <li>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="https://static.igem.wiki/teams/4824/wiki/member/member4.jpg" alt="" style="text-align: center; left: 50px;">
                <div class="text">
                  <h4><i class="fa fa-user"></i> Chenxi<br></h4>
                  <h6>Li<br></h6>
                  <div class="line-dec"></div>
                  <ul>
                    <li><i class="fa fa-vcard"></i> Personal statement:</li>
                    <div style="height:300px;overflow-y:auto">
                    <p>	Chenxi Li, born in Shanghai, China, currently is a sophomore in Kingswood Oxford School, CT. He is positive, energetic, responsible, and persistent. 
                      He loves music, sports, and traveling. He has played the accordion, the cello for over 10 years and has won quite a few medals in various competitions. He has been a member of the school orchestra since elementary school. He also likes fitness. He is currently in the school varsity swimming and varsity lacrosse team.
                      His favorite subject is biology, he found it so much fun.</p>
                    </div>
                    <li>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="https://static.igem.wiki/teams/4824/wiki/member/member5.jpg" alt="" style="text-align: center; left: 50px;">
                <div class="text">
                  <h4><i class="fa fa-user"></i> Ruojun<br></h4>
                  <h6>Wen<br></h6>
                  <div class="line-dec"></div>
                  <ul>
                    <li><i class="fa fa-vcard"></i> Personal statement:</li>
                    <div style="height:300px;overflow-y:auto">
                    <p>Hi, my name is Ruojun Wen from Shanghai Pinghe School. I am a student who loves biology very much. In my freshman year of high school, the study of biology courses stimulated my strong interest in biology. I also have some other interests, such as drawing, reading, playing the flute and so on. I’m intersted in the major biopharmaceutical. In daily life, I like to learn some biological knowledge by myself and watch biological documentaries. As a student leader, I would like to say that I have a strong hands-on ability, and I am very enthusiastic about the work in the laboratory. At the same time, I treat all work seriously and responsibly, and I am good at communicating with others. I am working hard on the road of learning biology. </p>
                    </div>
                    <li>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="https://static.igem.wiki/teams/4824/wiki/member/member6.png" alt="" style="text-align: center; left: 50px;">
                <div class="text">
                  <h4><i class="fa fa-user"></i> Hanwen<br></h4>
                  <h6>Xu<br></h6>
                  <div class="line-dec"></div>
                  <ul>
                    <li><i class="fa fa-vcard"></i> Personal statement:</li>
                    <div style="height:300px;overflow-y:auto">
                    <p>Hello! My name is Hanwen, and I am from Shanghai High School International Division. I contributed to this project as a note-taker and lab experimenter. IGEM provides me with a wonderful opportunity to work with experienced experts! I plan to go deeper in the realm of biology in the future, and experience with IGEM certainly does me a lot of good.</p>
                    </div>
                    <li>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="https://static.igem.wiki/teams/4824/wiki/member/member7.png" alt="" style="text-align: center; left: 50px;">
                <div class="text">
                  <h4><i class="fa fa-user"></i> Siyang<br></h4>
                  <h6>Qiao<br></h6>
                  <div class="line-dec"></div>
                  <ul>
                    <li><i class="fa fa-vcard"></i> Personal statement:</li>
                    <div style="height:300px;overflow-y:auto">
                    <p>Hello, everyone. I'm Siyang Qiao, member of Team Bioplus-shanghai. It's my great honor to introduce myself here
                      First of all, I want to emphasize my love for biology. I have always been curious about the mystery of life and biodiversity. I am obsessed with understanding the structure and function of cells, exploring the mysteries of evolution, and studying the balance of ecosystems. This passion drives me to deeply study and explore various fields of biological science, so that I have a solid knowledge foundation and a broad vision. With this passion, I actively participated in various biology-related activities and competitions, such as brainbee, ASOB, Environthon SI, etc., and made some achievements that I am proud of. Of course, I will not be complacent because of this. In the follow-up and participation process, I will pursue excellent performance and deeper learning with my enthusiasm and knowledge, and improve myself in scientific research and learning together with my team members, learn from each other and make progress together.
                      
                      At the same time, in the past I have been involved in some team projects, my experience has continued to grow. In some previous projects, we have achieved excellent results by working closely with our teammates. In each activity, I deeply understand the importance of teamwork, know how to give full play to the advantages of each member, and encourage them to show their talents. As a member of Student leaders, I will lead our team to build close bonds, encourage cooperation and support among team members, and ensure that everyone can reach their full potential.
                     </p>
                    </div>
                    <li>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="weekly-offers">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading text-center">
            <h2>Bioplus-shanghai - iGEM 2023 Instructors</h2>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
  
  
        </div>
      </div>
    </div>
  </div>
  

<script src="{{ url_for('static/js', filename = 'isotope.min.js') }}"></script>
<script src="{{ url_for('static/js', filename = 'owl-carousel.js') }}"></script>
<script src="{{ url_for('static/js', filename = 'tabs.js') }}"></script>
<script src="{{ url_for('static/js', filename = 'popup.js') }}"></script>
<script src="{{ url_for('static/js', filename = 'custom.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static/js', filename = 'jquery-3.4.1.min.js') }}"></script>
</script>



  <!-- Footer: MUST mention license AND have a link to team wiki's repository on gitlab.igem.org -->
  {% include 'footer.html' %}

  <!-- Bootstrap Bundle with Popper -->
  <script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js') }}"></script>
</body>
</html>

