<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://static.igem.wiki/common/icons/favicons/igem-2022.svg"/>
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'bootstrap.css') }}" >

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename = 'homestyle.css') }}" rel="stylesheet" >
    <!-- responsive style -->
    <link href="{{ url_for('static', filename = 'response.css') }}" rel="stylesheet" >

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename = 'bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet">



    <title>{% block title %}{% endblock %} | Bioplus-shanghai - iGEM 2023</title>

</head>
<body>
  <!-- Navigation -->
  {% include 'menu.html' %}
  <style>
    body {
      background-image: linear-gradient(60deg, #fff1eb 0%, #ace0f9 100%);
    }
    #tbody:not(#content) {
      width:80%;
      padding:25px 40px;
      margin:0 auto !important;
      /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
    }
    #tbody img {
      margin:10px 0
    }

    #magazine{
	width:1152px;
	height:752px;
}
#magazine .turn-page{
	background-color:#ccc;
	background-size:100% 100%;
}

  </style>

 <!-- Header -->
 <header class="bg-hero py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">NOTEBOOK</h1>
      </div>
    </div>
  </div>
</header>

<div id="magazine" style="margin: 0 auto;border-radius: 10px;">
	<div style="background-image:url('https://static.igem.wiki/teams/4824/wiki/notebook/notebook01.jpg');"></div>
	<div style="background-image:url('https://static.igem.wiki/teams/4824/wiki/notebook/notebook02.jpg');"></div>
	<div style="background-image:url('https://static.igem.wiki/teams/4824/wiki/notebook/notebook03.jpg');"></div>
	<div style="background-image:url('https://static.igem.wiki/teams/4824/wiki/notebook/notebook04.jpg');"></div>
	<div style="background-image:url('https://static.igem.wiki/teams/4824/wiki/notebook/notebook05.jpg');"></div>
	<div style="background-image:url('https://static.igem.wiki/teams/4824/wiki/notebook/notebook06.jpg');"></div>
  <div style="background-image:url('https://static.igem.wiki/teams/4824/wiki/notebook/notebook07.jpg');"></div>
  <div style="background-image:url('https://static.igem.wiki/teams/4824/wiki/notebook/notebook08.jpg');"></div>
  <div style="background-image:url('https://static.igem.wiki/teams/4824/wiki/notebook/notebook09.jpg');"></div>
</div>



  <!-- Footer: MUST mention license AND have a link to team wiki's repository on gitlab.igem.org -->
  {% include 'footer.html' %}

  <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
   <!-- Bootstrap Bundle with Popper -->
   <script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js') }}"></script>
   
  <script type="text/javascript" src="/static/js/turn.min.js"></script>
  <!-- Bootstrap Bundle with Popper -->
  <script type="text/javascript">

	$(window).ready(function() {
		$('#magazine').turn({
							display: 'double',
							acceleration: true,
							gradients: !$.isTouch,
							elevation:50,
							when: {
								turned: function(e, page) {
									/*console.log('Current view: ', $(this).turn('view'));*/
								}
							}
						});
	});
	
  // 鼠标点击事件
  $('#magazine').on('click', function(e) {
      // 获取鼠标点击位置
      var mouseX = e.pageX - $(this).offset().left;
      var pageWidth = $(this).width() / 2;

      // 根据点击位置决定是翻到上一页还是下一页
      if (mouseX < pageWidth) {
        $(this).turn('previous');
      } else {
        $(this).turn('next');
      }
    });

    // 防止默认的鼠标拖动行为
    $('#magazine').on('mousedown', function(e) {
      e.preventDefault();
    });
	
	$(window).bind('keydown', function(e){
		
		if (e.keyCode==37)
			$('#magazine').turn('previous');
		else if (e.keyCode==39)
			$('#magazine').turn('next');
			
	});

</script>

  
</body>
</html>
