{% extends "layout.html" %}


  
{% block title %}Part{% endblock %}



{% block page_content %}

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.css" />
  
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/homestyle.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/static/responsive.css" rel="stylesheet" />

<section class="who_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="img-box">
          <img src="https://static.igem.wiki/teams/4824/wiki/engineering/engineering-figure3.png" alt="">
        </div>
      </div>
      <div class="col-md-7">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              BBa_K4824000
            </h2>
          </div>
          <p>
            Bioparts are the basic building blocks of the iGEM project. Here, we constructed a catalytic lignan glycoside (BBa_K4824000) biopart (Figure 1). Based on the reported transcriptomic data of I. indigotica, the sequences of genes with glycosyltransferase functions were screened and a phylogenetic tree analysis was conducted with the functionally characterized lignan UGTs, and UGT72B2 was selected as the candidate, which the main component of the biopart. We then constructed expression vectors using homologous recombination and ultimately verified protein function.
          </p>
          <div>
            <a href="http://parts.igem.org/Part:BBa_K4824000:Experience">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
