{% extends "layout.html" %}
  
{% block title %}Laboratory Safety{% endblock %}


{% block page_content %}


<div>
    <p>Experimenters who enter the platform must receive laboratory safety education and training at all levels, be familiar with and strictly abide by various rules and regulations and laboratory safety management systems; and carry out work in strict accordance with the experimental operating procedures or experimental instructions.</p>
    <p>All drugs and reagents must be placed in designated locations after use and purchase. All kinds of drugs and reagents should have correct and clear labels, including names, concentrations, specifications, etc., and be used in the correct way.</p>
    <p>Experimenters should take personal protection when entering the laboratory. Personnel not related to laboratory work are not allowed to enter the laboratory without authorization. If external visitors need to enter the laboratory, they must be approved by the laboratory director before entering.</p>
    <p>Activities unrelated to the experiment are not allowed in the laboratory, such as eating, entertainment, and makeup; glassware used for laboratory operations cannot be used to hold food and drinks, and laboratory refrigerators and freezers are not allowed to store food.</p>
    <p>Smoking is prohibited in laboratories and corridors, especially in places with flammable and explosive reagent gases or when doing related experiments.</p>
    <p>After the experiment work is completed, the last experimenter to leave must check the switches of the experimental instruments and the doors and windows of the entire laboratory, focusing on the water, electricity, and gas circuits to ensure that they are normal and free of leaks. Clean up flammable paper scraps and other sundries to eliminate hidden dangers. Confirm that safety is guaranteed and fill in the "Laboratory Daily Inspection Record Form". Before holidays, all laboratory personnel should conduct safety inspections to ensure laboratory safety. If there is no one in the laboratory and the laboratory door is open, the last person who left the laboratory should be held accountable and bear the resulting losses.</p>
    <p>For instruments and equipment that need to be on duty, experimenters are not allowed to leave the site. For experiments that need to be carried out continuously for a long time, two people must be arranged to take turns in alternate.</p>
    <p>For more dangerous scientific research experiments, such as being explosive, highly toxic, etc., they must be approved by the instructor and carried out under the conditions of safety precautions. When conducting experiments with toxic, harmful, irritating, and corrosive substances or carrying out flammable substances, corresponding protective gloves, explosion-proof masks, and protective glasses should be worn, and operations should be performed in a fume hood. Such experimental operations must make sure there are more than two people present.</p>
    <p>The laboratory is equipped with a certain number of fire-fighting equipment according to the actual situation. The fire-fighting equipment must be placed in an obvious and easy-to-access position, and it must be checked regularly to ensure that it stays effective. It is strictly forbidden to use the fire-fighting equipment for other purposes. Experimenters must be familiar with the use of common fire extinguishing equipment. In case of fire, in addition to taking necessary fire-fighting measures to extinguish the fire immediately, call the police immediately and report to the person in charge of the laboratory in time. Pay attention to protect the scene after the fire alarm is lifted.</p>
    <p>Strictly carry out laboratory access control management, including the opening and closing of access control. All experimenters should actively cooperate with various safety inspections and actively rectify hidden safety hazards. If rectification is not timely, they will be reminded twice in a row, and the access control of everyone except the person in charge will be closed until the rectification is passed.</p>
    <p>If there is a theft or accident, measures should be taken immediately to deal with it in a timely manner. It must be reported according to the regulations. It is not allowed to conceal or delay the report. Major accidents should be rescued immediately to protect the accident scene.</p>
    <p>If a laboratory accident is caused by personal reasons, the parties concerned shall be subject to disciplinary action according to the relevant regulations, and the economic and legal responsibilities of the relevant personnel shall be investigated according to the seriousness of the circumstances.</p>
</div>

{% endblock %}
