<footer class="pt-5 pb-5 footer py-5 mt-5 bg-dark text-white">
  <div class="container">
    <!-- The following MUST be on every page: license information and link to the repository on gitlab.igem.org -->
    <div class="row mt-4">
      <div class="col">
        <div style="float: left; margin: auto;">
        <a class="navbar-brand" href="{{ url_for('home') }}">
          <img src="https://static.igem.wiki/teams/4824/wiki/logo.png"  width= 100px  alt="">
        </a>
        </div>
        <div style="padding: 10px 0; text-align: center;">
        <p class="mb-0"><small>© 2023 - Content on this site is licensed under a <a class="subfoot" href="https://creativecommons.org/licenses/by/4.0/" rel="license">Creative Commons Attribution 4.0 International license</a>.</small></p>
	      <p><small>The repository used to create this website is available at <a href="https://gitlab.igem.org/2023/bioplus-shanghai">gitlab.igem.org/2023/bioplus-shanghai</a>.</small></p>
        </div>
      </div>
    </div>
  </div>
</footer>
