<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://static.igem.wiki/common/icons/favicons/igem-2022.svg"/>
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename = 'bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet">

    <title>{% block title %}{% endblock %} | Bioplus-shanghai - iGEM 2023</title>

</head>
<body>
  <!-- Navigation -->
  {% include 'menu.html' %}
  <style>
    body {
      background-image: linear-gradient(60deg, #fff1eb 0%, #ace0f9 100%);
    }
    #tbody:not(#content) {
      width:80%;
      padding:25px 40px;
      margin:0 auto !important;
      /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
    }
    #tbody img {
      margin:10px 0
    }
  </style>
  <!-- Header -->
  <header class="bg-hero py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">{{ self.title() }}</h1>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">
    
    {% block page_content %}{% endblock %}
  </div>

  <!-- Footer: MUST mention license AND have a link to team wiki's repository on gitlab.igem.org -->
  {% include 'footer.html' %}

  <!-- Bootstrap Bundle with Popper -->
  <script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js') }}"></script>
</body>
</html>
